[2018-09-05 06:32] abettadapur opened #1 "Allow for custom middleware to be passed to the module store"
Right now, no extra middleware can be added to the store

[2018-09-05 06:33] abettadapur opened #2 "Remove default registration of Redux/Saga devtools"

[2018-09-05 06:33] abettadapur opened #3 "Remove dependency on immer"

[2018-09-05 14:04] navneetg-msft commented on #2
#3

[2018-09-05 14:04] #2 closed

[2018-09-05 14:04] #3 closed

[2018-09-05 14:08] navneetg-msft commented on #1
Thanks for the feedback Alex.

This is by design, we believe that react-redux-modules is for large scale applications, and in our opinion redux-saga is best available middleware for large scale react+redux apps. It provides not just side effects but other cool features like channels.
Taking direct dependency on redux-saga makes our interface simple and we need not build another layer of abstractio

[2018-09-05 14:08] #1 closed

[2018-09-05 14:20] navneetg-msft opened #4 "Publish to npm"
We need to publish this package to npm

[2018-09-18 20:30] navneetg-msft opened #6 "Create an example"

[2018-09-18 20:31] navneetg-msft opened #7 "Move to lerna to manage examples and dynamic modules together"

[2018-09-18 20:53] #6 closed

[2018-09-18 20:53] #7 closed

[2018-10-06 03:08] #4 closed

[2018-10-09 16:26] abettadapur opened #11 "Move to redux-dynamic-middlewares"
With package improvements, we no longer need to fork code from this package. We should use it as a dependency

[2018-10-09 16:55] abettadapur opened #12 "ISagaModule is not exported from the saga package"

[2018-10-10 01:03] navneetg-msft commented on #11
#

[2018-10-10 01:03] #11 closed

[2018-10-17 21:56] #12 closed

[2018-10-21 20:21] abettadapur opened #17 "Fix the observable extension"
The original idea for the observable extension did not work correctly
We need to figure out exactly how RxJS works and come up with a better option for dynamically loading Epics

[2018-10-25 22:06] navneetg-msft opened #20 "Remove usage of __DEV__ and __RELEASE__"
We are using custom variables to detect dev vs release environment, we should use process.env.NODE_ENV instead.

[2018-10-25 22:06] #20 closed

[2018-10-30 18:53] abettadapur opened #21 "Share context among saga modules"

[2018-11-01 08:39] geminiyellow opened #24 "where should i put my enhancers?"
hi all, i use redux's `createStore` and `compose` like this

[code]

and in `redux-dynamic-modules` , i check the code, i can put `middleware` in a new extension like `redux-dynamic-modules-thunk` , but where i should put the other enhancers?

the `ModuleStore` only compose middleware ,

https://github.com/Microsoft/redux-dynamic-modules/blob/10e7526f037dba0f1260a913f241504ea41f51ad/packages/redux

[2018-11-01 15:01] navneet-g commented on #24
Thanks for the question @geminiyellow , it is a really good one. We will push an update to allow this scenario, please give us a day or two.

[2018-11-01 15:36] geminiyellow commented on #24
woo, thank you @navteen-g . ok , two ; ) .

[2018-11-03 15:10] navneet-g commented on #24
Just a quick update, I have started a small refacotr/redesign to better support it, the changes are in following branch, I need to test them out and write some test harness. I hope to get some time over the weekend to finish it off, but no promise :)
Please check it out if you are interested.

https://github.com/Microsoft/redux-dynamic-modules/blob/users/navneetg/moduleenhancer/packages/redux-dyna

[2018-11-03 23:36] navneet-g commented on #24
@geminiyellow  I have a PR out to support enhancers. Thanks for requesting this feature it helped me improve the design.
https://github.com/Microsoft/redux-dynamic-modules/pull/25

To see how you can use it see the unit test where I am using moduleEnhancer with applyMiddleware enhancer
https://github.com/Microsoft/redux-dynamic-modules/pull/25/files#diff-c5cc69a8f5bebda3075b38d7f75aa7ed

[2018-11-05 02:45] geminiyellow commented on #24
woo, thank you @navneet-g

[2018-11-05 20:06] abettadapur commented on #24
@geminiyellow Published v2.0.0, which contains this new fix

[2018-11-07 14:49] navneet-g commented on #24
@geminiyellow did you get a chance to use v2.0.0? Please let us know if you have any feedback.

[2018-11-08 02:56] geminiyellow commented on #24
hi @abettadapur , @navneet-g , sorry i have no time to test it yesterday.
i read the PR code, knew that `moduleEnhancer` is a enhancer method,
but looks like that i cannot use it directly, and what i can use is the `createStore`.

hmm, the `configureStore` is changed to `createStore`,
name is same as the `redux#createStore` but interface is changed,
and it cannot use with`redux#compose`,

i dont t

[2018-11-08 04:05] navneet-g commented on #24
I just published a new version (2.0.1)
1) Pull the new version
2) import module enhancer ```import { moduleEnhancer } from "redux-dynamic-modules"; ```
3) use createStore from redux, and the composed enhancers
[code]

[2018-11-08 04:08] geminiyellow commented on #24
@navneet-g good, thank you. let me try it.

[2018-11-08 04:30] navneet-g commented on #24
@geminiyellow  I have also updated widgets example which now uses moduleEnhancer
https://github.com/Microsoft/redux-dynamic-modules/blob/master/packages/widgets-example/src/App.js

[2018-11-08 04:54] geminiyellow commented on #24
@navneet-g yes, i notice that, ok, here is my code

[code]

and i copy some code from `hacker-news` modules

[code]

and put it in `react-navigation`.

but when i start up it

[code]

[2018-11-08 06:18] navneet-g commented on #24
@geminiyellow  This error means that in the store there are some keys that do not have any associated reducers. Do you know how the reducers for offline, home, firebase and firestore are assigned? may be the enhancers for those middlewares provider the reducers. I suggest you try by changing the order for enhancers
e.g. const enhancers = [**dynamicModuleEnhancer**, firebaseEnhancer, middlewareEnha

[2018-11-08 17:18] navneetg-msft commented on #24
@geminiyellow  I was able to repro this and my analysis was correct above.
Please move the dynamicModuleEnhancer as the left most enhancer you use in compose so other enhancers get a chance to register their keys.

e.g. const enhancers = [dynamicModuleEnhancer, firebaseEnhancer, middlewareEnhancer, offlineEnhancer];

[2018-11-09 02:55] geminiyellow commented on #24
@navneet-g yes, i had try to change the order before comment.
@navneetg-msft got, but the error still here.

we can recreate it use the latest `widgets-example`

first , let us copy the code from redux official doc here: https://redux.js.org/api/combinereducers#example

then add something like this:

[code]

and

![error](https://user-images.githubusercontent.com/929878/48240483-41411d80-e416-11e8

[2018-11-10 13:50] winklerp opened #27 "Support React-Redux V6"
React-Redux v6 will use React's ( new ) context api which is not compatible with the legacy context API. By accessing store from context ( reference ) it causes the app to break when it tries to dynamic load modules.

"Could not load store from React context" - Error is thrown in DynamicModuleLoader.

As @timdoor has described in its breaking changes:

Passing store as a prop to a connected compon

[2018-11-10 13:54] winklerp opened #28 "Redux - Devtools are broken in release 2.0.1"
The new ModuleEnhancer is composing the enhancers without redux devtools by using the plain compose method of redux and so the store is not recognized in the tools.

Fix in ModuleEnhancer.ts:

 let composeEnhancers = compose;

 if (process.env.NODE_ENV === "development") {
        composeEnhancers = window["__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"] || compose;
  }

[2018-11-10 20:36] abettadapur commented on #28
Can we assert against passing reducers if you have used moduleEnhancer? It's not ideal, but it seems like that should work.

I think we should try to make the enhancer concept work unless it really cannot

[2018-11-10 20:37] abettadapur commented on #27
@winklerp Thanks I'll take a look

[2018-11-10 21:39] winklerp commented on #28
Passing root reducers is not really necessary when using moduleEnhancers because you can pass the reducers with initial modules. That's how I did and it works fine. Maybe just a little note somewhere in the docs.

I agree - the module enhancer concept is good and we should make it work. I like it because we can use the standard redux createStore method.

[2018-11-10 22:51] navneet-g commented on #28
@abettadapur @winklerp I also like moduleEnhancer concept that is why I made the breaking changes :), but it is giving us a lot more trouble then it is helping. I tried few things to make it work with redux dev tools and fixing the issue in #24 but not having any success. I am open to a Pull Request if you have any suggestions.

[2018-11-11 12:44] winklerp commented on #28
I just added these lines in moduleEnhancer.ts and redux devtools work fine:

[code]

We could also pass in composer as optional parameter to moduleEnhancer. Default value = Redux composer. I would appreciate not remove module enhancer. I also see not big deal with issue #24 because as I wrote before passing rootreducers with the initial modules works.

[2018-11-11 17:41] navneet-g commented on #28
Thanks @winklerp ... I already tried that, if we allow consumers to use redux store, I want to function it out of the box. The above will cause three non standard practices
1) Consumers cannot use root reducers, instead need to create aux module
2) They need to pass an overridden compose, if they want to handle the dev mode
3) They need to make sure that moduleEnhancer is on the left side of apply

[2018-11-11 22:31] abettadapur commented on #27
@winklerp Here, I think we can use the ReactReduxContext.Consumer that is exposed, and get the same behavior

[2018-11-12 00:54] #24 closed

[2018-11-12 00:54] #28 closed

[2018-11-12 06:59] geminiyellow commented on #28
woo, breaking change again,
so, now there is no  root reducers, right?
if i want to use this lib, i have to rewrite my redux entrance.

[2018-11-12 08:55] winklerp commented on #27
Hi, it works with ReactReduxContext.Consumer but since React-Redux 6 supports custom context I think we should pass the context into dynamic module loader and not rely hard coded on ReactReduxContext.

[2018-11-12 09:05] winklerp commented on #27
Hi, ReactReduxContext.Consumer works. But since React-Redux 6 supports custom context I think we should pass the context into DynamicModuleLoader and not only rely hard coded on ReactReduxContext.

See release notes of react redux 6.0-beta:

• Passing store as a prop to a connected component is no longer supported. Instead, you may pass a custom context={MyContext} prop to both <Provider> and <Con

[2018-11-12 09:12] winklerp commented on #28
@navneet-g
I agree: the interface of createStore is more clear and it works out of the box. Actually having a Redux-Dynamic-Modules createStore method is not a big deal, as long as all options for configuring the store are exposed.

@geminiyellow
For having rootreducers I created modules, which are initially loaded (passed to createStore method as initial modules).

[2018-11-12 10:06] geminiyellow commented on #28
@winklerp yep, i knew i can put root reducers into a root module,
but that is what i want to ask,  in old project,

not just put integral module in some place.

[2018-11-12 19:10] navneetg-msft commented on #28
@winklerp  and @geminiyellow  thanks for your patience, help and feedback while we get it sorted.
I hate breaking changes myself, and this time I guess I got too carried forward while pushing the mouldEnhancer without thinking through all fallouts from that. I apologize again for that.

In terms of @geminiyellow question about using it in old project, I hope there are not too many places where you

[2018-11-13 02:06] geminiyellow commented on #28
hi @navneetg-msft , i like the `moduleEnhancer` but i also know https://github.com/Microsoft/redux-dynamic-modules/issues/28#issuecomment-437689365 and sorry i dont have a good idea how to solve it now.

PS:

1 point in @navneet-g 's comment,

`They need to make sure that moduleEnhancer is on the left side of applyMiddleware if any.`

i dont think that is the package should do, we just need to put

[2018-11-13 02:11] geminiyellow commented on #28
about this, `They need to pass an overridden compose, if they want to handle the dev mode`
why dont you create a `options` param?
i  dont think the lib should do this too:

https://github.com/Microsoft/redux-dynamic-modules/blob/1ee66ccfaca7a49e0fdb0bb93bffe8f002fb1f64/packages/redux-dynamic-modules/src/ModuleStore.ts#L38-L40

[2018-11-14 14:16] Stoope opened #31 "redux-dynamic-modules-saga: get all runned sagas"
I use ssr and need to wait for all actions to end(all data has fetched). To ensure all actions have end I send END action and wait for done promise (https://medium.com/@victor36max/using-redux-saga-with-next-js-2b5d5add1ec6)
[code]
How can I get all runned sagas to something like `Promise.all(...runnedSagas.done).then(...)`?

[2018-11-14 15:44] navneet-g commented on #31
Thanks for your question @Stoope. I may be missing something so please pardon my ignorance.

The saga extension only helps in starting the saga when the module is loaded and removing the saga when the module is unloaded.

Are you asking that you want to wait for all sagas to be done across all modules, or is it just in the scope of a single module?

If it is for a single module then you can create

[2018-11-14 15:59] Stoope commented on #31
@navneet-g Thank you for reply.
I want to wait for all sagas to be done across all modules.
To do it I need to get this variable (tasks, https://github.com/Microsoft/redux-dynamic-modules/blob/6a72b2e82603b148b601e7d575a42c1caf29b070/packages/redux-dynamic-modules-saga/src/SagaManager.ts#L10 ) from outer code and do something like
[code]
I tried and it works for me.

[2018-11-14 17:05] navneet-g commented on #31
This translates to the scenario when all modules are unloaded or the store is disposed, right?
An alternate way to do this is by creating your own IExtension and giving it to the store.  Then you can either listen to onModuleAdded, onModuleRemoved and do refcounting, or you can execute your code in dispose of the extension. In my opinion it is a cleaner approach then waiting for all tasks to be do

[2018-11-15 09:42] Stoope opened #32 "Read initial state from server"
I want to pass preloaded state from server
[code]
 (https://redux.js.org/recipes/serverrendering#client-js)
Problem is initial state passed to createStore overwrites by initial state from each dynamically loaded reducer. How can I apply preloaded state to them?

[2018-11-15 16:17] navneet-g commented on #31
@Stoope does this help? Please let me know if you have any questions.

[2018-11-15 16:19] navneet-g commented on #32
@Stoope  We don't overwrite any state intentionally, I will try it out and see if I can get a repro.

[2018-11-15 16:20] navneet-g commented on #21
@abettadapur are there any plans to address this? If not we should close it and open it when we decide to execute or someone asks for it.

[2018-11-16 08:30] Stoope commented on #32
@navneet-g Have made playground https://codesandbox.io/s/k917m5ppjv. If you remove `defaultModule` from `createStore` app works as expected.

[2018-11-16 15:10] navneet-g commented on #32
Awesome ... thanks for doing it @Stoope  ... I will take a look tonight or over the weekend.

[2018-11-16 15:10] navneet-g commented on #31
@Stoope I am closing the issue, please feel free to open a new one or Reactivate if you have more questions on this.

[2018-11-16 15:10] #31 closed

[2018-11-17 01:29] #21 closed

[2018-11-17 05:00] navneet-g commented on #32
@Stoope  I took a look, this is happening as the keys in initialState are ignored by combinedReducer, as the defaultModule does not contain any reducers for those keys. If the defaultModule can contain the

Notice line 163 onwards in following file in redux code.
https://github.com/reduxjs/redux/blob/3f93d6bb21fd104263bc83da87bd2e113e82bd9f/src/combineReducers.js

I have modified the playground to

[2018-11-17 07:30] Stoope commented on #32
@navneet-g Thanks, I see... This is a problem since I don't know about other reducers at initial stage, they will be added later with react-loadable. Best solution is to read `window.__PRELOADED_STATE__.somereducer` state in each module's reducer, right?

[2018-11-17 16:03] navneet-g commented on #32
Yes ... That is an alternative, I don't know though, when does the library overwrites the state in window object.

[2018-11-21 17:47] navneet-g commented on #32
Closing as hopefully the above answered the question, please reopen if you still need help with this.

[2018-11-21 17:47] #32 closed

[2018-11-27 23:27] cschleiden opened #33 "Remove react prop types from production build"
They are only used in debug builds, we should not include the complete prop-types code in the `dist` package

[2018-11-28 00:32] abettadapur commented on #33
In 3.0.1

[2018-11-28 00:32] #33 closed

[2018-12-05 20:15] cschleiden commented on #27
It's released now.

[2018-12-21 14:27] abdurahmanus opened #36 "Communication between modules"
What is the preferable way to communicate between modules? Maybe this question is not related directly to this lib. I use redux, redux-saga and redux-dynamic-modules.
The state of my rootModule holds magicBoolean variable. If it becomes true, RootComponent renders SomeLazyComponent, which loads dynamically (I use React.lazy). SomeLazyComponent contains DymanicModuleLoader which loads someDymanicMo

[2018-12-21 15:20] navneet-g commented on #36
Really good question @abdurahmanus , we have come across following patterns for communication among various modules, before I answer the specific details let me list out two specific areas where the modules needs to interact and how we implement in our code.

**1) Reading state from other modules**

Let us take an example, assume we have three modules

* CommonModule - which has some shared state

[2018-12-24 06:42] abdurahmanus commented on #36
@navneet-g Thanks for the detailed answer! Actually I was also going to ask question 1) Reading state from other modules but you responded before. This approach of defining dependencies looks a bit like injecting modules in angular. And two more questions.
1) Where do you usually place selectors? Especially selectors which have to read state from multiple modules? For example I need computed data

[2018-12-24 16:37] navneet-g commented on #36
I have updated the above description to cover selectors.
In short
1) ```dynamic-module-loader``` initializes the modules in the order they are provided.
2) You can import the file getCommonModule func.
3) CommonModule should expose some selector functions that ModuleA or ModuleB can use to read data from CommonModule and do calculations with their own data.

[2018-12-25 07:35] abdurahmanus commented on #36
Thanks a lot! Your description really helped me. It would be great to include these examples in the docs or FAQ. Also it would be very helpful to add small typescript project or some samples because it's not obvious how to structure app, where to put types and interfaces. For example, what type will the root state object have?
`type AppState {
  commonKey: CommonType;
  moduleAKey?: ModuleAType;

[2018-12-25 13:06] navneet-g commented on #36
This is a really good suggestion and question. To answer these I will write a sample and upload it. Please give me a couple of days.

[2018-12-28 04:02] navneet-g commented on #36
@abdurahmanus I have checked in a sample in the above PR, Please look at [Typescript Example](https://github.com/Microsoft/redux-dynamic-modules/tree/master/packages/typescript-example) and let me know if you have questions.

[2018-12-28 05:04] navneet-g opened #39 "Configure prettier"

[2018-12-28 05:30] #39 closed

[2018-12-28 15:23] abettadapur opened #40 "Add use module hook for future react support"

[2018-12-29 07:36] abdurahmanus commented on #36
@navneet-g Thanks! Typescript Example is clear enough. I still have some questions. Some about this example and some general (design) questions. But I don't know is it ok to discuss these questions here in this issue?

[2018-12-29 14:54] navneet-g commented on #36
Please feel free to ask here.

[2019-01-05 14:50] raRaRa opened #41 "Feature request: Passing store to have it configured"
Hi,

I have a feature request that might be useful for people who don't want to change how `createStore` or `configureStore` is used. I found it a bit confusing that I had to import `createStore` from this lib instead of Redux, and the params were in different order, and TBH I never got it to work with enhancers and redux-first-router.

How about this: We create the store as we've always done it b

[2019-01-06 17:13] navneet-g commented on #41
Thanks @raRaRa for filing the issue. Please repro steps for redux-first-router. I will also take a look and see if we can create a high order function as you suggested, but that might take some time.

[2019-01-08 21:07] abettadapur opened #42 "DynamicModuleLoader will not respond to module updates"
If the component is re-rendered with different modules, they will not be added as we do not listen to componentWillReceiveProps

[2019-01-09 07:17] Stoope commented on #31
@bslinger take a look at my fork https://github.com/Stoope/redux-dynamic-modules

[2019-01-09 07:57] abdurahmanus commented on #36
1. I noticed that in typescript-example (OrderModule.ts) the return type of getOrderModules function is array of modules casted to any. So we lose typings. The type of modules prop of DynamicModuleLoader comp is IModule<AdditionalState>[]; It always gets array of modules. But sometimes function getXXXs returns array of modules and sometimes getXXX returns individual module. It's a little bit confu

[2019-01-09 14:07] raRaRa commented on #41
Thanks for the quick response @navneet-g.

Currently `redux-first-router` requires you to connect routes, like so:
[code]

This gives me a reducer, middleware and enhancer for `redux-first-router`.

What confuses me is whether or not I need to create a module for all reducers, e.g. am I required to create a module for the `redux-first-router` reducer, or can I simply pass the reducer to `createSto

[2019-01-10 22:51] navneet-g commented on #41
You can create a single module with all the reducers, middlewares at the startup. e.g.
[code]

[2019-01-11 09:22] raRaRa commented on #41
Clever, thanks! One last question. RFR (Redux-first-router) has an enhancer, which is then composed to the middleware. How would this case be handled?

[code]

[2019-01-14 18:20] navneet-g commented on #41
Second parameter to createStore function is enhancers, you can pass it there.

[2019-01-16 10:34] abdurahmanus commented on #27
Is it ok that I get undefined when I try to access dynamic modules's state ("myModule") when I wrap Lazy component with connect function and use it inside DynamicModuleLoader component? Is't it supposed to have "myModule" to be loaded?

https://codesandbox.io/s/7200w810n6

[2019-01-17 12:28] abdurahmanus opened #45 "Example of parameterized module"
How do you think, does this example make sense?
https://codesandbox.io/s/rw92p548np

I was trying to use the fact that we can pass params to factory function which returns module

[2019-01-18 23:57] abettadapur opened #46 "Typescript Recipes"
Add some recipes for typescript, including concepts such as *AwareState

[2019-01-19 00:04] abettadapur commented on #27
@navneet-g Could you chime in here? I am able to reproduce the problem reported above, but I am not sure why

[2019-01-19 00:58] navneet-g commented on #27
@abdurahmanus myModule is NOT loaded async in the sandbox above. Redux prohibits returning undefined from the state, I see that someValueReducer is not initializing the state if it is undefined.

Please let me know if I am missing anything.

[2019-01-19 01:32] navneet-g commented on #27
@abdurahmanus  This is really interesting ... I spent sometime in debugging but did not reach a conclusion, so far it is pointing in direction that it is outside scope of redux dynamic modules and something related to react and react-redux. For example see below screenshot, the _this2.setState actually calls mapStateToProps twice first with old state that does not have myModule state set and immed

[2019-01-19 04:48] navneet-g commented on #46
We have a typescript example, do you plan to further update it?
https://github.com/Microsoft/redux-dynamic-modules/tree/master/packages/typescript-example

[2019-01-19 04:52] navneet-g commented on #45
Thanks @abdurahmanus , in this example the module is not prrameterized. You have a factory function that returns a new module based on the parameters.
What exactly are you asking about? ```redux-dynamic-modules``` does not care how the module object is created.

[2019-01-19 04:53] navneet-g commented on #41
Closing the issue as I have not heard any followup questions.

[2019-01-19 04:53] #41 closed

[2019-01-19 04:53] abettadapur commented on #46
We need documentation on the website regarding what patterns are good to use

On Fri, Jan 18, 2019, 20:48 Navneet Gupta <notifications@github.com> wrote:

[2019-01-20 18:13] exogen opened #47 "Strategies for hydrating a store from SSR"
Hi there, I'm experimenting with this package and have been pleasantly surprised so far. Good job!

I wonder if it would be worthwhile to add some documentation about possible solutions to deal with server-side rendering. A typical server-side rendered Redux setup looks like this:

1. On each request to the server, a fresh Redux store is created.
2. When generating the response body, the Redux sta

[2019-01-20 22:01] navneet-g commented on #47
@exogen Thanks for the question. I don't have any experience with Server side rendering. @Stoope has used the library with SSR, see #31 .
Will following work
1) Create a Module registry, which maps Ids to IModule objects.
2) While serializing the store serialize list of module ids loaded.
3) When creating a store at client use the data from 2, get the modules from the registry and pas it to create

[2019-01-21 07:03] exogen commented on #47
Update on how this is going for me so far...

Here's a diagram particular to Next.js with how this roughly needs to work:

![redux-dynamic](https://user-images.githubusercontent.com/53522/51457435-47048a80-1d06-11e9-8c39-6a4b8f988fdc.png)

The main issue I have right now is that:

* If add the initial SSR'd modules to the client-side store during `createStore` (with the `initialModules` param) the

[2019-01-21 08:48] abdurahmanus commented on #46
I mentioned some problems with typings in this issue: https://github.com/Microsoft/redux-dynamic-modules/issues/36
Imagine I have 2 modules:
module1:
![image](https://user-images.githubusercontent.com/7404552/51461648-afd41d00-1d6f-11e9-9900-48082eccb809.png)
![image](https://user-images.githubusercontent.com/7404552/51461695-ced2af00-1d6f-11e9-864a-35d86c711131.png)
and module2 which depends on m

[2019-01-21 08:54] exogen commented on #47
My immediate problem could be solved by making this line something like:

https://github.com/Microsoft/redux-dynamic-modules/blob/405a8f64c182e15873f37131db5a757090c77455/packages/redux-dynamic-modules/src/ModuleStore.ts#L177

[code]

So that one could then do:

[code]

But, I don't PR that just yet, maybe you've got some grander design ideas. :)

[2019-01-21 08:55] abdurahmanus commented on #46
of course getModule2s from example above should return module with id "module2"

[2019-01-21 08:58] abdurahmanus commented on #46
also I could create temp valiable with type IModule<Module2AwareState>, but reducerMap still wants from me reducer for module1 key.
![image](https://user-images.githubusercontent.com/7404552/51463271-d5fbbc00-1d73-11e9-8228-6b2e4113fbd1.png)

[2019-01-21 09:49] abdurahmanus commented on #46
another unclear point. DynamicModuleLoader's modules prop type is array of IModuleTuple:
![image](https://user-images.githubusercontent.com/7404552/51466081-6f2dd100-1d7a-11e9-9b6e-c964a5903868.png)
Does it mean what I aways should wrap getModuleXXX in array when I pass it to DynamicModuleLoader component even if it already returns array of modules like this?
![image](https://user-images.githubuse

[2019-01-21 11:50] abdurahmanus commented on #27
@navneet-g it seems like this behavior was changed somewhere in between v5.1.1 and 6.0.0 of react-redux.
the same example with react-redux v5.1.1 works different way (no undefined value)
https://codesandbox.io/s/xj6l40kjqw
The question is what should be considered as correct behavior? If (while loading process) some module could be undefined it should have nullable type in *AwareState interface (i

[2019-01-22 01:21] danrfg opened #49 "Remove react / react-redux from redux-dynamic-modules"
Is there any reason, other than convenience, that react and react-redux are in the redux-dynamic-modules package.json? I'm currently experimenting with using this as a headless redux layer that can be ported to different presentation layers e.g. React, React Native, possibly angular-redux.

It'd be great if this library didn't contain those dependencies.

[2019-01-22 15:16] navneet-g commented on #49
We take a dependency on Provider from react-redux. I am not familiar with how angular-redux, react native connects to the store. Can you shed some light and we can talk about how to abstract it.

[2019-01-22 15:20] navneet-g commented on #47
Can you do following instead?
1) Have initialActions in the modules added via DynamicModuleLoader
2) The action can have payload that is read the json data sent from the server

[2019-01-22 15:21] navneet-g commented on #27
If this is a behavior change in react-redux, please open an issue there, we can take it forward then depending upon if they make changes.

[2019-01-22 15:27] navneet-g commented on #46
@abettadapur can you respond to the IModuleTuple part of the question?
Regarding the typing issue with reducer, recently we also experience it and follow this pattern, we should update the example to cover this.

[code]

[2019-01-22 21:03] danrfg commented on #49
It only seems you need react-redux / react for the DynamicModuleLoader, is that correct? Could that not be moved out to its own package like thunk or saga, so there is no hard react dependency in redux-dynamic-modules? Then you could create headless redux modules that can be tested in isolation that you could use as a basis for React and ReactNative apps. As for Angular it might be more difficult

[2019-01-23 20:57] danrfg commented on #46
I've been having trouble with typings: The IModuleTuple problem above and using getState() to return a typed object rather than <any>. I'm considering creating a getState<IMyModuleState>() function that can return the strongly typed module state... is something like this in the works at all?

[2019-01-24 15:23] abdurahmanus commented on #27
I've also noticed that todo-example uses react-redux@6 and it's broken now
![image](https://user-images.githubusercontent.com/7404552/51688203-2b023100-2005-11e9-8b37-37a7a6851a00.png)

[2019-01-24 17:03] vincentljn opened #51 "Hot reload slowdown"
I'm experiencing a hot reloading slowdown after implementing redux-dynamic-modules and redux-dynamic-modules-saga (v3.2.0) in my medium-size application.
Is it something you are aware of?

[2019-01-24 18:00] danrfg commented on #46
The confusion I have is in the examples. There is `createStore<State>` that returns an `IModuleStore<State>` which I guess helps you ensure modules will conform whatever State is, which I suppose would be the module schema e.g. id, reducerMap, initialActions etc.

Then there's the IModule<State> where State is whatever the reducer for that module returns e.g. IModule<IUserState>.

The problem come

[2019-01-24 18:03] danrfg commented on #46
Btw I wrapped createStore in my own createStore function that has a `getModuleById<T>(moduleId:string)` function that returns a typed module for testing, other than that I can't see how I could easily integrate this with the rest of the sdk.

[2019-01-30 03:19] navneet-g commented on #51
Can you take a profiler trace and share what is slowing it down?

[2019-01-30 05:47] exogen commented on #47
@navneet-g I don't believe that works in the grand scheme, but I'm still experimenting and figuring out a workable solution.

It might solve the initial hydration (haven't checked yet) although I believe it might throw that Redux "unexpected key" warning. The reason I can't use it in the general case it due to subsequent client-side navigations (the Next Page part of the diagram above). In that ca

[2019-02-01 03:55] codeocelot opened #52 "Support for ImmutableJS reducer state"
I'd love to use ImmutableJS with this project however, this project is hardwired to use redux's own `combineReducers`.  Are the maintainers interested in refactoring the app to allow for less dependency on the underlying Redux state implementation?

[2019-02-01 04:07] abettadapur commented on #52
I am not too familiar with ImmutableJS, could you help explain why combineReducers is incompatible with the library?

[2019-02-01 19:20] abettadapur commented on #52
@navneet-g , maybe we can use the extension model like we did with sagas to add a new reducermanager that would support this behavior?

We could also add other reducer behaviors that have been requested

[2019-02-01 20:11] jared-dykstra opened #53 "Is there support for Hot Module Replacement?"
Two questions:
1.  Is `replaceReducer()` supported by the store, and is there a way to substitute a saga?
1.  Is there any guidance (via example code or docs) to show how to correctly setup for HMR in reducer and/or saga code?

[2019-02-08 23:27] codeocelot commented on #1
It's worth noting for future readers that #8 (Oct 4/2018) adds this functionality although it is not mentioned in the documentation. It looks like this:

`<DynamicModuleLoader modules={ [{ middlewares: [middleware1, middleware2...] }] } >`

[2019-02-12 19:48] HASSANDL opened #54 "mapStateToProps not initialize state"
I use redux-dynamic-modules/todo-example after run below error.
[code]

I use redux-dynamic-modules@^3.3.1, in my project too same error.

[2019-02-13 00:59] abettadapur commented on #54
Which version of `react-redux` are you using?

[2019-02-13 01:02] abettadapur commented on #53
We don't have any HMR support right now, but it is something that we could invest in.
For your other questions, where does the module system fall short in accomplishing these goals?

[2019-02-13 01:22] abettadapur commented on #54
@HASSANDL We are aware of an issue with `react-redux@6.0` which we have yet to resolve. Stay tuned

[2019-02-13 01:22] abettadapur commented on #49
@danrfg I am working on this now

[2019-02-13 05:33] HASSANDL commented on #54
@abettadapur Very very thanks. downgrade to reacr-redux@5.1.1, problem solved.

[2019-02-13 16:58] jared-dykstra commented on #53
I don't think it does.  I opened this PR to ensure that I'm using it correctly and making the most of it--I wasn't sure.  I figured, if I had missed something, if nothing else I could PR against the documentation.

So far, I'm quite impressed with the library and using it in a CRA v2 project.

[2019-02-13 16:59] jared-dykstra commented on #53
For example, I was expecting to have to setup Redux Devtools as an extra step, but was surprised to discover that it "just worked"

[2019-02-14 20:19] abettadapur commented on #54
Closing this for now, as it is tracked by #27

[2019-02-14 20:19] #54 closed

[2019-02-14 20:20] abettadapur commented on #51
@vincentljn Were you able to capture a profiler trace here?

[2019-02-14 20:25] abettadapur commented on #36
@abdurahmanus
1. We are still working on the best way to define typings. I think I covered some of it in #46
2. We put our API calls in `redux-saga`, as it is designed to be the orchestrator layer. Since sagas are part of modules, you can make this logic also be part of your module. As for where you want to transform your data, this is up to the specifics of the application. You could store the ra

[2019-02-14 20:30] abettadapur commented on #53
With regards to `replaceReducer`, we do not expose that function. Instead, you can use modules to add/remove reducers.

Are you asking for a function like `replaceModule`, which could replace a module at runtime? We dont have that today, but it is something we could potentially add to support hot reloading scenarios

[2019-02-14 20:30] abettadapur commented on #52
@navneet-g @codeocelot  I'll find some time this weekend to look at this

[2019-02-15 00:30] luskin commented on #52
@abettadapur Looking forward to `immutable` support over here, thanks!

[2019-02-15 16:42] jared-dykstra commented on #53
Here's a concise description of the problem I'm seeing.  I suspect this is user-error (an error in my code)   I currently have this code in place for HMR, and my app is using react-router:

[code]

When I make a change, HMR kicks in.  But then I notice two dispatched redux actions:

1. `@@router/LOCATION_CHANGE` - I don't expect this to fire, but it does.  The location is the same as it was before

[2019-02-15 17:39] vincentljn commented on #51
Not yet but I'll take some time next week to tackle that point.
If I guess right you don't experienced this issue, correct ?

[2019-02-15 17:59] abettadapur commented on #51
Correct, we have not seen anything like this. We are happy to take a look at the trace when you get it though and figure out what is wrong

[2019-02-16 19:56] #46 closed

[2019-02-16 21:51] raRaRa commented on #41
Hey again. I had to take a pause on this task but I'm still trying to figure this out.

This is what I've got so far:

[code]
The solution above makes something crash inside Redux-First-Router, like something is not composed or configured properly. From the RFR documentations I need to compose the middlewares with the rfrEnhancer, like so:

[code]

Should I pass enhancers instead of rfrEnhancer to

[2019-02-16 22:48] raRaRa commented on #41
I believe the issue is that the RFR enhancer expects rfrReducer's default state to be loaded into the store. But that doesn't happen until after `@@Internal/ModuleManager/ModuleAdded`.

[2019-02-17 00:00] raRaRa commented on #41
Is it possible to add reducers to the internal createStore?

[2019-02-18 17:26] vincentljn commented on #51
Here's a profile trace.
Nothing happens during 15s, excepts garbage collects. Then the hot reloading process starts and takes 15 more seconds before the page is reloaded.
I can't see anything slowing the reloading down. Do you ?
[Profile-20190218T181726.txt](https://github.com/Microsoft/redux-dynamic-modules/files/2876791/Profile-20190218T181726.txt)

[2019-02-18 21:14] raRaRa opened #58 "Issue: Adding enhancer that depends on a reducer"
There are enhancers that depend on a reducer that adds to the state. I tried adding the `Redux-first-router` enhancer, but it throws an error that the state hasn't been set, because it's dependent on the `Redux-first-router` reducer.

The problem seems to be that `redux-dynamic-modules` adds the enhancer before adding the first/startup module. I'd like to be able to pass a reducer to the internal

[2019-02-18 21:45] navneet-g commented on #27
I did further debugging and opened following issue in react-redux repo
https://github.com/reduxjs/react-redux/issues/1194

[2019-02-18 22:31] navneet-g commented on #27
This seems like due to a known change in react-redux with their support to new context API.
https://github.com/reduxjs/react-redux/issues/1126

We need to update DynamicModuleLoader as follows https://codesandbox.io/s/pwmm8r3110
I probably won't have time, if someone wants to make change and send the PR, it would be awesome.

[2019-02-19 05:34] winstonjz opened #60 "Dynamic Module Loader props are loaded on second render"
Hey!
I love the project. Been looking for something like this to replace react-boilerplate's injectReducer and injectSaga.

I noticed that the DynamicModuleLoader renders its children on the first load
I forked the widgets example in this codesandbox: https://codesandbox.io/s/k9jo0kyzw5 and added a log statement in the `mapStateToProps` in `src/widgets/hacker-news/`. The log statement prints
![scr

[2019-02-19 05:34] winstonjz commented on #53
HMR would be killer for this project. 👍

[2019-02-19 08:48] vincentljn commented on #51
After further investigations, I found a lead to explain the slowdown:
I use to reference my service functions in a `index.js` and call them like :
[code]
[code]
instead of:
[code]
If I remove the index file and call the functions directly from the final js file, hot reload works as usual.
Am I clear? Is that make sense?

[2019-02-19 15:14] navneet-g commented on #60
Are you using react-redux 6.0? I have a pull request to fix that.

[2019-02-19 17:40] jared-dykstra commented on #53
The way I see it, there are a few things to do:
1. Each module needs to have it's own `module.hot.accept()` added to it, listening for changes in it's own dependencies.  Traditional use of `module.hot.accept('./something')` relies on a full chain of dependencies from `./something` -- But that would create a dependency chain and defeat the purpose of this redux-dynamic-modules
1. A process like: `s

[2019-02-19 17:44] abettadapur commented on #60
@winstonjz For now, it is recommended to use `react-redux@5.x`. As Navneet mentioned, #59 will fix your issue

[2019-02-24 01:02] navneet-g commented on #60
This should be fixed with #59

[2019-02-24 01:02] #60 closed

[2019-02-24 01:12] navneet-g commented on #58
Can you try passing some initialState and see if it works?

[2019-02-24 08:42] raRaRa commented on #58
Hey @navneet-g. I'm already passing some initial state and it fails, because it expects certain state from Redux First Router, e.g. the location/page I'm on, the query string etc. I can't fill some dummy values into the location state because that would make RFR think I'm on a wrong page.

[2019-02-25 16:45] alxmiron opened #61 "Implement changelog"
This lib is really cool and helps to write modern web apps very much. Thank you!
I just would like to request a changelog here to be sure what I'm doing on each dependency upgrade

[2019-02-27 16:21] luskin commented on #52
@abettadapur have you had a chance to take a look at this?

[2019-02-27 16:37] nikechanhk opened #63 "Can each instance of the component has its standalone state in the redux store?"
For example, in the Widgets example, the hacker-news has its unique id and the store key to the reducer. However, if I declare more than one instance of hacker-news, all instance will point to the same reducer and than all content of each hacker-news will be the same.

If I change the code in this way.
[code]
each instance of hacker-news will have its standalone reducer in redux store and each ins

[2019-03-05 21:18] anilanar opened #65 "Pass options to devtools"
Although it is convenient to include devtools integration in this library, there's a fair question to ask here: is it this library's responsibility to do it? If it's done for technical reasons, I think we need a way to pass options to the devtools' compose function.

Particularly action blacklisting, state sanitization, max-age are invaluable for large apps.

In addition, different apps have diffe

[2019-03-07 13:13] anilanar opened #66 "DynamicModuleLoader's children mounts twice"
Due to the following workaround:

https://github.com/Microsoft/redux-dynamic-modules/blob/e1046942f26db108f7dbb6ccc593824c9de716f5/packages/redux-dynamic-modules/src/DynamicModuleLoader.tsx#L142-L147

children of `DynamicModuleLoader` is mounted twice, once with a `<Provider>` wrapper and once without the wrapper.

~I think this workaround is not needed anymore since React 16.6.3 and `store.getSta

[2019-03-07 19:08] navneet-g commented on #66
@anilanar  thanks for reporting, Can you give a codesandbox with repro?

[2019-03-07 22:26] anilanar commented on #66
https://codesandbox.io/s/8kx2jr7762

[2019-03-07 22:31] anilanar commented on #65
For now, I have a fork that takes `compose` function as argument.

[2019-03-08 03:06] Verikon opened #67 "Modules as External/NPM packages"
Thanks for this great library!

This library has inspired me to consider modularizing some components so other people who are using this library can enjoy them via the NPM communal registry.

For projects which are set up correctly with a store, I'd like the developers of that project to consume my components simply via npm/yarn installation. They should then import them and the package should bin

[2019-03-08 03:35] Verikon commented on #67
This was more about module resolution in the external project. Adding modules to webpack's resolve configuration sorted this out.

[2019-03-08 03:35] #67 closed

[2019-03-11 07:38] anilanar commented on #63
This is what we also do plus a little more magic. Every action has metadata that includes its “component id” so that the reducer can update the correct state slice. So it’s a reducer factory; as in `hackerNewsReducer(id)`.

[2019-03-11 15:59] navneet-g commented on #63
Yes it is fine to do it this way.

[2019-03-11 16:00] navneet-g commented on #66
Sorry I didn't get a chance to look at it yet. I will take a look this week and get back to you.

[2019-03-14 13:51] navneet-g commented on #66
@anilanar  I am not able to open the sandbox, I get following error. I will try again later today
![image](https://user-images.githubusercontent.com/13487927/54362135-a5bef400-4625-11e9-981a-6bd1df3d7f4f.png)

[2019-03-14 16:33] anilanar commented on #66
Perhaps codesandbox had problems when you tried it, I can open it.

[2019-03-14 16:38] navneet-g commented on #66
I can repro this and this is what I see, the storeState changes  and thus React rerenders children
We need to debug more to see why the storeState is not upto date in first render after the module is loaded. Most probabbly this is another side effect of React's new context API, but for sure this is not a bug in ```redux-dynamic-modules```. It takes a long time to debug react, I will give it a try

[2019-03-20 04:48] shockk commented on #66
I have this trouble too. This issue blocks releasing our app (

[2019-03-20 07:50] anilanar commented on #66
@navneet-g State not being up to date after updating a store is not a bug in `redux-dynamic-modules`. But using two different component roots (to overcome aforementioned problem) is a bug in `redux-dynamic-modules`.

[2019-03-20 15:06] navneet-g commented on #66
@shockk  in our app we are using following version of react-redux, and redux and don't see this issue. We are using it with React 16.8. Please try these versions for now to unblock the release.
react-redux": "^5.1.1",
    "redux": "^4.0.0",

[2019-03-20 15:06] navneet-g commented on #66
@anilanar which two different component roots are you mentioning? Please elaborate.

[2019-03-20 15:42] anilanar commented on #66
First the following:

https://github.com/Microsoft/redux-dynamic-modules/blob/master/packages/redux-dynamic-modules/src/DynamicModuleLoader.tsx#L135-L148

and

https://github.com/Microsoft/redux-dynamic-modules/blob/master/packages/redux-dynamic-modules/src/DynamicModuleLoader.tsx#L116-L125

`_getLatestState` will be true on the first render and will be false on the second render. Thus, on the fir

[2019-03-20 16:09] navneet-g commented on #66
Thanks @anilanar ... @abettadapur can you take a look?

[2019-03-20 17:02] abettadapur commented on #66
@anilanar @shockk  Sorry for the delay here. Could you guys try this version of the package and let me know if you still have issues?

`redux-dynamic-modules@3.5.0-alpha.3`

[2019-03-22 22:51] luskin opened #73 "Browser freezes with redux dev tools open"
When using `redux-dynamic-modules` my browser freezes and crashes whenever I try and open the redux debugger. If I remove dynamic module loader and re-implement using standard redux setup everything works fine. Anybody else having this issue? Renders this otherwise useful package useless to us.

[2019-03-22 22:58] abettadapur commented on #73
@luskin Sorry to hear that! I have not experienced the problem you are referring to unfortunately :(

Could you provide a minimal repro? You can use this as a starter https://codesandbox.io/s/8kx2jr7762

[2019-03-25 14:40] anilanar commented on #66
@abettadapur It works. To understand the effects of `strictMode`, I created the following sandbox with bunch of console.logs, checking state update order of connected components inside and outside `DynamicModuleLoader` and also assigning `ref`s to `DynamicModuleLoader`'s children from outside.

https://codesandbox.io/s/73r20x4jzj

The difference seems to be only when mounting `DynamicModuleLoader`

[2019-03-25 18:12] abettadapur commented on #66
correct, the only difference should be at mount time. I don't think we can get around this for `strict` consumers.  Thanks for verifying and the example!

@navneet-g Let's move to publish the new version

[2019-03-25 20:39] navneet-g commented on #66
Thanks @anilanar  and @abettadapur .
@abettadapur  I left a comment on your PR, let me know you want to address before merging or in a separate PR.

[2019-03-26 00:42] luskin commented on #73
@abettadapur Thanks! I tried to replicate on codesandbox this weekend and couldn't get the problem to replicate. I'm going to keep working on narrowing it down and see if I can pinpoint it to a specific part of the package, thanks.

In the meantime if anyone else has experienced this issue and can shed some light it would be much appreciated!

[2019-03-27 21:31] #66 closed

[2019-03-28 05:48] navneet-g commented on #61
@alxmiron Thanks for the feedback .. we have started practice of updating comments in releases starting with v3.5.

[2019-03-28 05:48] #61 closed

[2019-03-28 05:49] navneet-g commented on #65
@anilanar  Please feel free to send a PR.

[2019-03-28 05:54] navneet-g commented on #65
@anilanar  what if we create an option to createStore that tells it to not compose with devtools, and you can pass devtools as an enhancer in createStore?

[2019-03-28 14:26] anilanar commented on #65
@navneet-g Devtools' compose function iterates all enhancers and generates an `instanceId` for each intermediate store created by enhancers:

https://github.com/zalmoxisus/redux-devtools-extension/blob/master/src/browser/extension/inject/pageScript.js#L383-L400

I don't understand why it needs to do that though. So `createStore({}, reduxDevtoolsCompose([/* enhancers */]))` would make devtools miss

[2019-04-01 15:42] jacintorodrigues commented on #47
@exogen can you provide an example of how you be able to make it work with Next.js?

[2019-04-01 20:51] eddievagabond opened #75 "Initializing store"
I am having issues initializing the store with the createStore provided via readux-dynamic-modules. I am most certainly doing something wrong, but could not figure out what. Any help would be appreciated.

[code]

[2019-04-02 19:55] #63 closed

[2019-04-02 19:55] #27 closed

[2019-04-02 19:56] abettadapur commented on #40
We won't be able to do this with the hooks that we have, unfortunately. The higher order component should suffice and still function in functional components

[2019-04-02 19:56] #40 closed

[2019-04-02 19:56] abettadapur commented on #45
@abdurahmanus Any updates on this?

[2019-04-02 19:56] #49 closed

[2019-04-03 20:00] luskin commented on #73
After upgrading to react-redux `7.0.0-beta.0` this issue has since resolve, closing as this is no longer an issue for me.

[2019-04-03 20:00] #73 closed

[2019-04-05 06:23] abdurahmanus commented on #45
You can definitely close this issue

[2019-04-06 17:30] markerikson opened #76 "Possible bug when used with React-Redux v7"
`redux-dynamic-modules-react` currently has this chunk of code:

https://github.com/Microsoft/redux-dynamic-modules/blob/8d9bbbbb037abeae2b3f4f62345668097c0f8015/packages/redux-dynamic-modules-react/src/DynamicModuleLoader.tsx#L141-L150

This was related to a bug that popped up in React-Redux v7 beta 0, at https://github.com/reduxjs/react-redux/issues/1219 .

Looking at the code further, I can see

[2019-04-07 18:18] abettadapur commented on #76
Thanks for pointing this out to us!

This is a common class of bug I have seen using hooks now,  maybe I should write a PSA on it :)

[2019-04-13 21:39] dbartholomae commented on #65
Any way I can help here? This is a major hindrance for us using this package now :-/

[2019-04-14 14:44] anilanar commented on #65
I don’t see a way to make this a non-breaking change.

If maintainers are fine with a breaking change, and if they propose the new API, I can make a PR. Otherwise I don’t want to waste time on bikeshedding.

[2019-04-14 15:41] navneet-g commented on #65
@abettadapur  what if we take a compose function as input? @dbartholomae @anilanar  will that help?

[2019-04-14 16:37] dbartholomae commented on #65
Taking a function sounds great! And if enhancers is a function instead of a middleware, dev-tools are not included by default. If this approach is fine, I could try to write a PR.

[2019-04-14 21:14] anilanar commented on #65
I propose:

[code]

[2019-04-18 00:02] CharlesMcD opened #78 "Reset redux store on specific action"
I try to reset the redux store (logout behavior) but I can't find a simple solution that allows me to do it globally when using redux-dynamic-modules.
Before using redux-dynamic-modules, I used to do what Dan was proposing here with the combineReducer function. https://stackoverflow.com/a/35641992/6765022
Now I understand that we have to send a map of reducers to the createStore function that will

[2019-04-23 06:17] abdurahmanus commented on #78
What do you mean by reset redux store? If you want to reset state(s) to some "default" value you can catch "logout" action in all the reducers that control the states you want to reset. If you want to unload some modules from redux store you should unmount (in other words stop render) components that loaded modules via DynamicModuleLoader

[2019-04-23 11:13] alfnielsen opened #79 "Module is remove, when clicking react router links, inside the same module"
Hey,
Maybe there is something I dont know of the inner workings,
But when I have a ReactRouter NavLink that point to another page,
within the same module,  a ```'@@Internal/ModuleManager/ModuleRemoved'```
is still dispactehed, which remove the data for the module,
and break our site.
When I hard reload the browser the module is again loadet correct.

So it seems that react router links dont really

[2019-04-23 15:23] CharlesMcD commented on #78
I mean reset the store to its default value. Obviously it is possible to listen in all reducers, but I was looking for a solution to only have to add a "custom" case when creating the store as it is possible to do easily without this library.
Normally I could do something like that :
[code]

but not anymore since I have to provide a map of reducers that have not yet been "combined" together with c

[2019-04-23 18:40] abettadapur commented on #79
Hi, thanks for using our library!

How have you added the 'contract' module to your store? Are you using the DynamicModuleLoader component to add it?

I am not 100% sure about how ReactRouter works, but if you have one route which renders DML with the contract module, and switch to another route that doesn't, the 'contract' module will be removed because the DML component was unmounted.

If you wa

[2019-04-24 06:23] alfnielsen commented on #79
Hi Abettadapur
Yes we are using react-loadable and your DynamicModuleLoader.
We want to load the module only when its needed, but under the _contract area_ of our solution,
and we have multiple end points (urls) that our usrers can end up on, so we need a
[code]
for each endpoint, to be sure that the module logic (redux and saga) is loaded.

We dont want all content to be loaded from the start (or

[2019-04-24 07:24] abdurahmanus commented on #78
you can describe your module like this:
[code]
and then you could use combineReducers or whatever to create module1Reducer. Inside module1Reducer you could reset state as you did before.
If you want to reset state of 2 separate modules you should do it in 2 separate reducers because they control separate state.

[2019-04-24 13:12] navneet-g commented on #79
So you want to keep the module in store, when the component that added it to store unmounted?
The only scenario we support is to add it when creating the store. Or you can have a higher level component that is not unmounted when user switches to different route, and that higher level component can add the module to the store.
If you have codesandbox with your example we can fork and talk in terms

[2019-04-24 14:14] alfnielsen commented on #79
No it's not what we optimal want.
(It is just an acceptable solution to keep the loaded modules in the store after unmount)

Right now the module is removed,
but it is not re-loaded when the new DynamicModuleLoader is mounted ?

Just to understand:
What you say is that if a DynamicModuleLoader is unmounted,
then that modules is never excepted to be loaded again in the same session?
(Or its at leas

[2019-04-24 14:21] navneet-g commented on #79
Thanks for working with us on this,  the module should be reloaded if a new DML is mounted with same module.

[2019-04-25 08:55] alfnielsen commented on #79
Hey,
I made this codesandbox that replicate the problem:
https://codesandbox.io/s/91k27k1rxr

If you have the Redux Chrome plugin in enabled,
you can open the example in full screen mode (https://91k27k1rxr.codesandbox.io/)
and see the redux history.

We can see that this is whats actually happening:
 1. Click Page1
 1. 1. React-router dispath a change location
 1. 2. redux-dynamic-modules dispatc

[2019-04-25 14:17] navneet-g commented on #79
I see a different issue here, Seems like store do not have state when the first module is unloading, note mapStatesToProps is failing on Unmount of the first page (In this repro I first visited Page2). I need to spend more time to debug and see why the store do not have right state.

Uncaught TypeError: Cannot read property 'testValue' of undefined
    at Function.mapStateToProps [as mapToProps] (

[2019-05-02 02:41] breeny opened #81 "Multiple reducer default state throws error"
Version: 3.5.1

Behaviour: If I have multiple modules, with multiple reducers loading on the initial createStore call, the reducer values are ignored. This creates issues when unit testing connected components as re-renders aren't being captured when asserting behaviour.

Expected: I should be able to declare an initial state for multiple reducers

e.g.

[code]

Throws error in redux.js:
`Unexpect

[2019-05-02 19:24] abettadapur commented on #81
Thanks for reporting, I will dig into this now

[2019-05-02 20:07] #81 closed

[2019-05-08 09:38] Ventajou opened #83 "Module type with sagas?"
When declaring a module with sagas, TypeScript complains that `IModule` doesn't match. Is there another interface I can use or should I just return a plain object?

[2019-05-08 15:27] abettadapur commented on #83
You can import iSagaModule from the saga package

[2019-05-09 10:21] Ventajou commented on #81
I don't think this is fixed, when I call `createStore`, only the first module's reducer gets called. I'm running 3.5.2

[2019-05-13 12:31] #83 closed

[2019-05-16 13:27] subtirelumihail opened #84 "Add more example options"
Please add more examples, because there is now example on how we can test a component that has been wrapped in the `DynamicModuleLoader` ?

[2019-05-16 20:20] navneet-g commented on #84
Can you give an example of what exactly you are trying to test?

Dynamic module loader just adds redux artifacts to the store. The underlying components and its tests need not know about redux-dynamic-modules.

[2019-05-17 09:54] subtirelumihail commented on #84
So I have a component that looks like this:
[code]

I want to be able to test this component without using the `react-redux` `Provider` component

[code]

So basically what I mean is can I mock `DynamicModuleLoader` ?

[2019-05-21 00:32] colindcampbell opened #85 "Redux state removed before components unmount"
I'm seeing an issue when navigating where, when a DynamicModuleLoader component is being removed, the connected container components are still reading from state after the state has already been removed but before the component has dismounted. This leads to reference errors when matchStateToProps is trying to read state.x.y (cannot read property y of undefined) because state.x was already removed.

[2019-05-22 13:47] hagai-reuveni opened #87 "Setting the a (static) first and last middlewares"
Hi,

Is it possible to make sure that a "static" middleware will always be the first/last in the middleware array ?

In my case, I have an "action splitter" middleware that I use in order to send multiple actions in array. If the middleware gets an array, it dispatches each one of actions - (with 'next').
The last middleware is always a custom logger middleware and I need to make sure it's the las

[2019-05-22 14:59] navneet-g commented on #87
You can add a module with just the middleware while creating the store, that will ensure it is the first one in your chain of middle wares. And it can do following to achieve being the last one as well.
[code]

Please let me know if I am missing something.

[2019-05-22 15:02] navneet-g commented on #84
The ExampleComponent should know nothing about DynamicModuleLoader.
What is the test case and asserts you expect in your test?
Are you trying to test that the component is wrapped with DynamicModuleLoader with given set of modules?

[2019-05-22 15:03] navneet-g commented on #85
Thanks @colindcampbell , can you share a codesandbox with minimal repro?

[2019-05-22 15:04] navneet-g commented on #76
Thanks @markerikson  for reporting the issue and  @abettadapur for fixing it. @abettadapur is the issue still open as we are waiting for a new release, or something else?

[2019-05-22 15:08] abettadapur commented on #76
We have been using 4.0.0-alpha.1 for awhile now with React Redux 7. No
issues that I can tell. We should publish 4.0.0

On Wed, May 22, 2019, 08:04 Navneet Gupta <notifications@github.com> wrote:

[2019-05-22 17:53] navneet-g commented on #76
Thanks @abettadapur  ... I assume we don't need to port anything to 3.*. I will publish 4.0.0 today.

[2019-05-22 18:28] hagai-reuveni commented on #87
Thanks @navneet-g .

I'll try to describe what I'm aiming for and hope it will be clearer:
1. When the app starts I load the 'core redux-module' which has (among other) the splitter and the logger.
2. After loading a certain path, another redux-module (feature redux-module) is being loaded and it has a middleware of its own.

Will the new feature middleware, that is being added to the store, will

[2019-05-22 20:34] colindcampbell commented on #85
https://codesandbox.io/s/reactredux-uv4xm

[2019-05-23 15:01] ahrnee opened #88 "Suggestion for React HOC Wrapper for DynamicModuleLoader"
There may be many folks, including myself, that prefer the "withSomeFeature" HOC style, than wrapping another tag around a component.  To that end, have provided some working code below.  I am posting here instead of submitting, as I don't know if there is a better way to achieve this or not... but feel free to use the code as is (I already use in my project)

[code]

[2019-05-23 16:40] navneet-g commented on #88
Thanks @ahrnee, I did not know about the with* and learned something new today. I think this is better suited as a helper function, we can provide it as a sample in our docs.

[2019-05-24 02:27] ahrnee commented on #88
@navneet-g, sounds good. [This React documentation](https://reactjs.org/docs/higher-order-components.html) has goes into some detail about that technique if you are looking for any more specifics.  And here is an example of how it can be used:

[code]

[2019-05-29 13:59] bflamand commented on #52
Any progress with support for immutablejs?
Support for immutablejs is the only thing preventing us from using this library...

[2019-05-29 20:38] abettadapur commented on #52
Sorry for the long delay on this, and thank you for being patient!

I just put out a PR #90 which allows you to pass a custom combineReducers function. From what I see in redux-immutable, this should solve the issue

@navneet-g Could you review?

[2019-06-07 16:20] colindcampbell commented on #85
@navneet-g Have you had any chance to look into this? Thanks

[2019-06-11 12:13] webor opened #91 "Cannot read property 'Consumer' of undefined"
Hi I have started using this module been getting this issue
the functionality breaks in DynamicModuleLoader.render function where it tries to find .Consumer

return (React.createElement(react_redux_1.ReactReduxContext.Consumer, null, function (reactReduxContext) { return (React.createElement(DynamicModuleLoaderImpl, __assign({}, _this.props, { reactReduxContext: reactReduxContext }))); }));

 i am

[2019-06-11 13:53] navneet-g commented on #91
Thanks @webor please send codesandbox for a minimal repro.

[2019-06-14 00:24] ryanf5 commented on #85
@colindcampbell 4.0.0 alpha1 has `retained: true` option for your getCountModule, then you register in your createStore: https://codesandbox.io/s/reactredux-z2zkl

[2019-06-18 20:44] ryanf5 commented on #78
@CharlesMcD Have you figured out how to do this?
@abdurahmanus I think what you said makes sense. But currently I'm converting a monolithic redux store to dynamic modules step by step. I need this one call that reset all my registered keys to default state without adding a new key. Is this possible? What's the correct way to do it?

[2019-06-18 21:48] CharlesMcD commented on #78
I never really found the solution I was looking for to my problem. The walkaround is used was to listen in each reducer for the "logout" action. It was a small project so it's not that bad, but I understand that it can be a pain in the ass in a big project.
I didn't really understood @abdurahmanus last solution because I couldn't use combineReducers function to generate the "module1Reducer" from h

[2019-06-18 22:33] ryanf5 commented on #78
@CharlesMcD What he meant was to create a new key on top of the gaint object, like `module1: module1Reducer` here the module1Reducer is your `rootReducer` from:

[code]
In this way you can reset all in your original `myReducerMap` but you'll make it one level deeper. combineReducer works like https://github.com/microsoft/redux-dynamic-modules/blob/master/packages/todo-example/src/modules/shoppingl

[2019-06-19 20:21] ryanf5 commented on #49
Hi, thank you for the excellent library. It seems like redux-dynamic-modules-saga still depends on redux-dynamic-modules instead of redux-dynamic-modules-core. Do you mind if I submit a PR that updates the reference?

[2019-06-19 21:22] abettadapur commented on #49
Sorry about that. Please do and I'll approve it

[2019-06-20 01:56] #76 closed

[2019-06-20 01:57] abettadapur commented on #52
@luskin @codeocelot Please try 5.0.0-alpha.0

Again, sorry for the delay on this

[2019-06-20 01:57] #45 closed

[2019-06-20 01:58] #36 closed

[2019-06-20 02:00] abettadapur commented on #91
@webor, Which version of `react-redux` are you using? We have deprecated 5 and below, that might be causing this issue

[2019-06-20 02:01] abettadapur commented on #75
It seems you are calling the createStore api incorrectly

You shouldn't pass reducers directly to createStore, but instead, create modules that you pass as the last arguments to the function.

See the todo-example in this repository for an example

[2019-06-20 02:06] abettadapur commented on #78
One idea is that you could recreate the store entirely, through some side-effect, but that doesn't seem like a great solution.

Honestly, I think this is just a limitation of our library, because we do not support nested modules. @navneet-g Do you think there is a way we could support this usecase?

[2019-06-20 02:08] abettadapur commented on #87
@navneet-g This could be supported by introducing a "finalMiddleware" option or something?

[2019-06-23 21:34] dbartholomae opened #94 "Usage with redux-persist"
Hi there!

I really like this library - and I also really like [redux-persist](https://github.com/rt2zz/redux-persist) which allows to save parts of the store to local storage. Unfortunately both this module and redux-persist require to use their own method to create a redux store, and these methods are not chainable if I am not mistaken.
What would the preferred way to solve this? If there is no

[2019-06-24 00:31] abettadapur commented on #94
We could look and see how redux-persist works and perhaps create a new extension for it

[2019-06-24 00:32] abettadapur commented on #94
I can investigate this more this week

[2019-06-24 22:20] SmirnovW commented on #75
@abettadapur hey!

I guess @eddievagabond faced with the same problem that I did.

I also tried just import the createStore from redux-dynamic-modules and was thinking it will work without any changes.

And the reason why I did, because I have A LOT (and sagas) of reducers, and transform each of them to the modules can be a pain. And thinking of this huge refactoring make me crying D:

Is there a

[2019-06-24 22:39] abettadapur commented on #75
You could create a single monolithic module that contains all your reducers and sagas and add that for now. Then you can refactor one by one as you go.

The whole purpose of the library is to modularize redux artifacts, so we only support module constructs

[2019-06-24 22:40] abettadapur commented on #75
If you could just replace the createstore function with our implementation, you wouldn't gain any of the benefits of the library :/

[2019-06-27 11:51] neeharv commented on #47
Hey folks, this is turning into a blocker for us as well.

The problem with this approach is that lazy loaded code in SSR is synchronously loaded, which means initial actions fire for the loaded modules. But since this action cannot read the initial JSON sent from the server (while it's running on the server itself), we would then have to make write the action in a way where its a no-op when runni

[2019-06-27 19:44] navneet-g commented on #88
Thanks @ahrnee would you mind sending a PR for documentation update?

[2019-06-27 20:41] navneet-g commented on #87
@hagai-reuveni  yes the feature middleware will be pushed to the end of the middle ware.
There is no way to keep the middleware at last. But the middleware calls next so it has control over to be the last. Can you create a codesandbox to explain what scenario is not possible and we can see what is the best way to enable it.

[2019-06-27 20:51] navneet-g commented on #85
@colindcampbell  sorry I could not look at it as a bit busy in my day job. I will take a look but no promise. Can you upgrade to latest 4.x version and see if this still repros?

[2019-06-28 21:35] dbartholomae commented on #94
Great! If there is any way I can help, please let me know. In the mean time I will be working on a plugin for [redux beacon](https://github.com/rangle/redux-beacon)

[2019-07-01 22:05] dbartholomae opened #95 "Integration with Redux Beacon"
In case someone is interested: I have written an extension for Redux Dynamic Modules that allows to connect to Redux Beacon.
Redux Beacon is a library that allows transform Redux actions into analytic events with different providers like Google Analytics, Segment or Matomo. With help of this extension events do not have to be defined in one central location but can be defined for each module indiv

[2019-07-03 10:08] zulu134 commented on #85
@navneet-g  I'm also seeing this. I'm not familiar enough with the code base but it looks like the DynamicModuleLoader might be unmounting before the child component (based on componentWillUnmount on the DML removing the modules which removes the state?), but I don't know if that is even possible. I'm using the saga extension; not sure if that is relevant but I didn't have this problem when using

[2019-07-03 14:12] navneet-g commented on #85
Thanks @zulu134  the state removal from the tree should be the very last thing happens, and by this time any children of DML should be already unmounted. Would you mind debugging and checking who is calling mapStateToProps after DML is unmounted?

[2019-07-03 14:13] navneet-g commented on #95
This is really awesome, thanks for the contribution @dbartholomae .

[2019-07-03 14:13] #95 closed

[2019-07-10 07:35] anilanar commented on #65
I'm working on this now.

[2019-07-10 16:25] subtirelumihail commented on #84
@navneet-g Yes

[2019-07-14 05:56] leoyli commented on #17
Here is one resource found from in the `redux-observable` repo:
https://github.com/redux-observable/redux-observable/blob/master/docs/recipes/AddingNewEpicsAsynchronously.md

I might take a look to see how I can make it work.

[2019-07-14 07:50] navneet-g commented on #17
That will be great ... thanks @leoyli .

[2019-07-19 12:50] jkomyno commented on #53
Hi @abettadapur and @jared-dykstra, any update on this yet?

[2019-07-19 13:06] navneet-g commented on #53
@jared-dykstra I can take a look, where do you see code for option 1 or 2 being called? I am not familiar with how runtime detects that code is being hot reloaded, please educate me a bit more.

[2019-07-19 13:06] navneet-g commented on #53
@jared-dykstra I can take a look, where do you see code for option 1 or 2 being called? I am not familiar with how runtime detects that code is being hot reloaded, please educate me a bit more.

[2019-07-19 14:16] navneet-g commented on #53
@jared-dykstra ... so I did some reading, Option 2 above seems better to me, for the reasons you mentioned and it is very explicit. Ideally the ModuleManager should handle replacing reducer and extensions/middlewares/sagas. We need to find a way so ModuleManager can be notified that files belonging to a rdm-module is being reloaded. Any suggestions?

**module** : module in terms of a javascript mo

[2019-07-19 14:27] navneet-g commented on #53
Ok ... further reading, this is what we can do.
1) When a module detects it is hot reloaded, it dispatches a global event.
2) The ModuleManager listens to such events, gets the moduleid and module contents from the event and replaces the module while retaining the state and not dispatching initial/final actions

[2019-07-23 19:58] ziongh opened #100 "How to Run Watcher Sagas?"
I'm Trying to define a Saga to control Authentication Login Flow:

[code]

[code]

[code]

[code]

[code]

[code]

In the Store.Js I needed to Run this Watcher:

[code]

One option that I've tried:

[code]

but with this I get the following Error:

**Error: Before running a Saga, you must mount the Saga middleware on the Store using applyMiddleware**

How do I run a Watcher? Or is there another be

[2019-07-25 03:47] bloomdido commented on #100
I just spent several hours trying to figure out the same problem. Looks like the interface to `createStore` was changed with [this commit](https://github.com/microsoft/redux-dynamic-modules/commit/c3b6c785d5e8b4cf63a12c13b7bf3a44c444bc46), but the documentation was never updated.

The example code was updated with [this commit](https://github.com/microsoft/redux-dynamic-modules/commit/2549c45a859a

[2019-07-25 20:17] #100 closed

[2019-07-26 16:16] bloomdido opened #101 "Documentation for `createStore` is incorrect"
As pointed out in https://github.com/microsoft/redux-dynamic-modules/issues/100, the signature of `createStore` was changed for v5.0.0, but the documentation has not been updated to reflect this change.

[2019-07-26 16:25] abettadapur commented on #101
Thanks for pointing that out, I will update the page today

[2019-07-26 16:31] abettadapur commented on #101
Fixed by 6d4a9e

[2019-07-26 16:33] #101 closed

[2019-07-28 08:28] djsilcock commented on #47
I haven't had chance to actually test this yet, but it might be possible to remove the modules in `componentWillUnmount` using a pattern such as :

     ...
     getInitialProps(ctx) {
        //may be serverside or clientside
        const removeHandle=store.addModules(modules).remove
        if(typeof window !=='undefined') window.removeHandle=removeHandle
       ...
    }
    componentWillUnmou

[2019-07-28 10:03] ashokkumarsand opened #102 "When i call any connected component in the Dynamic module will break app"
I have below code
`<DynamicModuleLoader modules={[getCommonModule()]}>
        <AppHeader />
        <ErrorBoundary>
          <UserProvider
            redirectLoginURL={`${process.env.REACT_APP_ACCESS_SERVER}login.jsp`}
            redirectLogoutURL={`${process.env.REACT_APP_ACCESS_SERVER}logout.jsp`}

            <Suspense fallback={<AppLoader />}>
              <Router>
                <Route

[2019-07-30 16:00] ashokkumarsand commented on #102
This is an issue with the React hooks. Are we having any version of the dynamic module without hooks

[2019-07-30 22:14] abettadapur commented on #102
We do not use hooks in this library.
How are you consuming the library? It sounds like this might be a configuration issue on your end, as we do not bundle React or React-Redux with the library (or at least we shouldn't)

[2019-07-30 22:19] abettadapur commented on #102
Confirmed that we do not bundle React anywhere in this library, so this sounds like a configuration issue on your end.

[2019-07-30 22:19] #102 closed

[2019-07-31 05:23] ashokkumarsand commented on #102
@abettadapur There are two scenarios. one with all update version of all required libs and component library is also a part of the mono repo from where I am exporting connected component and modules. In that scenario, I am getting hooks error.

Another scenario is that when I downgrade the react-redux version to 6.0.1. in that case, I am getting a below-mentioned error.

_**Could not find "store"

[2019-07-31 15:54] ashokkumarsand commented on #102
The second scenario is invalid. That is a bundler issue.

[2019-07-31 22:30] MegazeroMZ commented on #94
Hey there, I happened to do this exact thing recently (using redux persist along side redux dynamic module) and here's how I did it

- have a normal config for your persist
const persistConfig = {key: "PersistKey", storage, whitelist, blacklist};
const persistedReducer = persistReducer(config, yourReducer)

And then create a module with redux dynamic module:

export function getYourModule() {
  id

[2019-08-07 19:55] ilionic commented on #91
Can confirm issue is fixed updating react-redux to 6.x.
Worth bumping peerDep? https://github.com/microsoft/redux-dynamic-modules/blob/master/packages/redux-dynamic-modules/package.json#L47 ?

[2019-08-07 20:39] ilionic commented on #17
Using this approach https://github.com/redux-observable/redux-observable/blob/master/docs/recipes/AddingNewEpicsAsynchronously.md
in custom redux way but would be great to have extension.

[2019-08-09 17:01] subtirelumihail commented on #94
@MegazeroMZ can you give a better example on how/when/where you are calling `persistStore.persist();` ?

[2019-08-09 17:14] MegazeroMZ commented on #94
So continue with what I already have in the previous post, let's say I have a component called Setting, and I making it a dynamic module using redux-dynamic-module, then I will have this:

[code]

Now once this Setting got render on the screen, getYourModule() will finally be put into the store by redux-dynamic-module, so now if you log out the state of your reducer you will finally see the state

[2019-08-09 17:18] subtirelumihail commented on #94
@MegazeroMZ thanks, I already figured it out and it works.

Also it is worth mentioning that the `PersistGate` component is not working with `redux-dynamic-modules`. When I tried using it it get's stuck at the loading phase

[2019-08-09 17:41] MegazeroMZ commented on #94
PersistGate does work with redux-dynamic-modules.

This one is slightly more complicated. The role of the PersistGate is to stop the app from being load until the persist has check all the reducers for persisted stuff. BUT, and a big BUT here, if there's no persistedReducer passed to the persistor prop in PersistGate, then PersistGate thinking that it havent check all reducer yet cause it couldnt

[2019-08-14 14:33] SantoJambit commented on #85
We're having the issue as well. Not sure if the code by @denisborovnev fixes this entirely, as I tried patching the node_modules file and it didn't seem to work, but maybe I made a mistake.

Our current workaround is like this:

[code]

What this does (in a hacky way):
It wraps the mapStateToProps with a function that first checks if all keys in reducerMap are present and if not, it returns an emp

[2019-08-14 16:57] abettadapur commented on #85
Published 5.0.2

[2019-08-14 16:57] #85 closed

[2019-08-23 01:40] dbartholomae commented on #65
Any news on the PR? Looking forward to this!

[2019-08-23 01:43] dbartholomae commented on #78
How about adding a reducer to the `moduleStoreSettings` that can act on the overall store state? This would also help with #58 and other cases where enhancers depend on reducers being in place.

[2019-08-23 01:44] navneet-g commented on #78
Sorry I missed it, I will take a look soon.

[2019-08-23 01:50] navneet-g commented on #78
You can send a custom advancedCombineReducers to ModuleStore, and wrap the reducer with reset action, something similar to idea described in https://alligator.io/redux/reset-state-redux/

[2019-08-23 02:13] dbartholomae commented on #58
Just stumbled upon the exact same problem. I think this is solvable by allowing to add a reducer in the moduleStoreSettings.

[2019-08-23 22:35] anilanar commented on #65
Sorry I’ve been on a long vacation with no access to computers, will handle this when I’m back.
On 23. Aug 2019, 04:40 +0300, Daniel Bartholomae <notifications@github.com>, wrote:

Any news on the PR? Looking forward to this!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/microsoft/redux-dynamic-modules/issues/65?email_sourc

[2019-09-09 09:20] Konstantin6487 opened #104 "Middlewares with saga"
My module looks like:
[code]
and later
`sagaMiddleware.run(...);`
Middlewares apply from left to right, but if i use module with saga's autorun:

[code]

Created sagaMiddleware becomes the head of middlewares list (like `middlewares: [sagaMiddleware, middleware]`)
And it's a problem 🤔

[2019-09-09 10:36] vincentljn opened #105 "Question: default sagas and modules"
Hi,

In order to achieve a clean startup of my app, I initialize `redux-dynamic-modules` like this :

[code]

`sharedSagas` are a bunch of default sagas used by each module across the app
`rootModule` is the default module that performs the startup flow

Everything works but I found it pretty verbose.
I've seen we can pass initial modules in the `createStore` function but I need the `sharedSagas`

[2019-09-09 12:58] abettadapur commented on #105
A module need not contain reducers, so you could create a module that just contains your sagas and add it before your root module

[2019-09-09 13:06] abettadapur commented on #105
Could you elaborate more on your use case? Why do those sagas need to be mounted first?

[2019-09-10 16:18] vincentljn commented on #105
I mean I can't run `sharedSagas` before the redux-saga extension has been registered on redux.

To clarify the use case:
`sharedSagas` contains common sagas like api fetching or storage access. They will be used by modules across the app.
`rootModule` is the 'app' module which basically executes the startup flow (the startup saga calls default apis to retrieve the mandatory assets for the app to r

[2019-09-11 21:13] djsilcock opened #106 "'window is not defined' when using saga extension in SSR"
`getSagaExtension() ` crashes during SSR in development mode as the `window` global is unavailable

[2019-09-12 00:58] #106 closed

[2019-09-18 07:17] codeocelot commented on #105
@vincentljn, if I understand you correctly, then I think the issue here is really controlling the execution of `rootModule` sagas to come *after* `sharedSagas` has been started.

Is `sharedSagas` an argument-less 'background' worker shared between your modules?  If so, then why not `fork` or `spawn` it within the rootModule saga?  (I'm assuming the rootModule will always be mounted).  Then it'll a

[2019-09-23 12:57] vincentljn commented on #105
Thanks @codeocelot but everything is currently working.
I was just wondering if `redux-dynamic-modules` has a built-in api cleaner than adding the `rootModule` to the store after running `sharedSagas` in `sagaExtension`, something like :

[code]

compared to my current implementation :

[code]

[2019-09-23 14:04] #65 closed

[2019-09-26 08:34] shinvey commented on #17
Now [EpicManager](https://github.com/shinvey/redux-dynamic-modules-observable/blob/master/src/EpicManager.ts) is implemented and it makes [observable extension](https://github.com/shinvey/redux-dynamic-modules-observable) work properly. The [key idea](https://github.com/redux-observable/redux-observable/blob/master/docs/recipes/HotModuleReplacement.md) is using [Subject](https://www.learnrxjs.io/s

[2019-10-01 19:47] abettadapur commented on #104
Hi @Konstantin6487
Could you  describe the issue you are facing in a little more detail? You need your dynamic middleware to execute before the sagas?

[2019-10-01 19:49] abettadapur commented on #104
I unfortunately don't have a great solution to this problem that doesn't degrade into some kind of order wars (like z-index wars).

Do you have any suggestions on what you think you might want this API to look like?

[2019-10-01 19:51] abettadapur commented on #105
No, we do not. The suggested way to run sagas (and everything, really) with this library is through a module

[2019-10-01 19:51] #105 closed

[2019-10-01 19:52] abettadapur commented on #51
I think that this is not related to this library, but instead something in your hot reload configuration (based on your above comment)

[2019-10-01 19:52] #51 closed

[2019-10-01 19:53] abettadapur commented on #52
Closing, this has been released

[2019-10-01 19:53] #52 closed

[2019-10-11 08:57] dyaa commented on #17
@shinvey I tested the package and it's working as expected, Maybe time to merge back?

Thanks a lot for your effort

[2019-10-20 17:46] charlesswanson opened #109 "How to consume master branch?"
Hi,
I would like to use the change here: https://github.com/microsoft/redux-dynamic-modules/pull/97/commits/6271a8d0ad5415719bce9236a93e88f022196a91
It is on the master branch, but not built to npm yet.

I'm having a hard time consuming this package's master branch with my local project, because I'm not familiar with lerna.

Using "npm install microsoft/redux-dynamic-modules#master" does not work

[2019-10-20 18:20] abettadapur commented on #109
Hi @charlesswanson

Sorry we didnt publish! I will put up a new version right now.

[2019-10-20 18:22] abettadapur commented on #109
Published 5.1.0

[2019-10-20 18:22] #109 closed

[2019-10-20 18:29] charlesswanson commented on #109
Wow thank you for the fast help!

[2019-10-21 14:50] RavilM opened #110 "Merge some reducers or another way adding some reducers"
Hello!
My store:
`transition: {
   bus: {
      ....
   }
}`
I have a situation where I need to add new reducer for store with the same “transition” key using another module:
`transition: {
   bus: {
      ....
   },
   train: {
      ....
   }
}`

[2019-10-28 16:45] dbartholomae opened #111 "Middleware removed if added as enhancer"
Hi there,

I'm currently changing over a website to use redux-dynamic-modules. It also uses react-router which lead me to the following problem. It seems, middleware that gets added as an enhancer is removed, potentially by the middleware handler. This code works:
[code]
while this one doesn't:
[code]

Specifically the middleware in the second case gets only some events and then doesn't get any ev

[2019-10-31 14:29] kazamov opened #113 "Update generic IModule interface"
Please update IModule interface, so it will be possible to set Action type, e.g.

export interface IModule<State, Action = AnyAction> {
    /**
     * Id of the module
     */
    id: string;
    /**
     * Reducers for the module
     */
    reducerMap?: ReducersMapObject<State, Action >;
    /**
     * Middlewares to add to the store
     */
    middlewares?: Middleware[];
    /**
     * These a

[2019-11-04 23:09] codeocelot commented on #113
Question: what shape are your actions such that they aren't compatible with redux's AnyAction interface?  The AnyAction interface only requires a `type` field and lets any other assigned field be `any`.

[2019-11-05 08:24] kazamov commented on #113
I am using 'flux-standard-action' library typings: **FSAAuto** and **ErrorFSAAuto**. Link to typings file [https://github.com/redux-utilities/flux-standard-action/blob/master/src/index.d.ts](url).

I have a reducer
`export function appReducer(state: AppState = initialAppState, action: AppActions): AppState {...}`

Where **AppActions** is
`export type AppActions = FSAAuto<AppActionTypes.REQUEST_APP

[2019-11-09 12:58] ahrnee commented on #17
Great! I was just looking for a way to leverage redux-observable with redux-dynamic-modules. Any idea when this update will make it into a release?

[2019-11-09 19:39] abettadapur commented on #17
I will cut a release today. I think I have to work with Microsoft to create a new package, as I no longer work there, but let me see what I can do

[2019-11-09 19:51] abettadapur commented on #17
Turns out it was easy, published 5.2.0 to NPM.
Please let me know if you have any issues

[2019-11-09 19:51] #17 closed

[2019-11-10 03:40] xuanlongvts opened #114 "Can you config with react-router with multi pages?"
Now, you have put all pages in one file https://github.com/microsoft/redux-dynamic-modules/blob/master/packages/widgets-example/src/App.js

But, with a big application, there are many pages, so we have to use react-router to config router for entries app.

Can you demo with an application with react-router-dom?

Thank you!

[2019-11-11 06:35] ahrnee commented on #17
Thanks @abettadapur!

[2019-11-12 21:51] imflavio commented on #47
Anyone got this to work properly with nextjs?

[2019-11-21 21:20] codeocelot commented on #113
@kazamov did you figure this out?  If you have a repo I can access, that may better help me understand your problem.

[2019-11-22 18:52] shinvey commented on #53
If you use [react hot loader](https://github.com/gaearon/react-hot-loader) like me, there is a workaround that could help you.
[code]
Um... I'd like to say it really was my tough time to debug code between react-hot-loader and DynamicModuleLoader that I need to figure out how they work together.

[2019-11-26 00:00] victorparamo commented on #52
Hi! I'm writing just to ask if someone have had some issues removing keys using immutable.

[2019-12-03 09:12] Linh-Vo opened #116 "Can i use redux-dynamic-modules with redux axios middleware instead of redux-thunk or saga"

[2019-12-04 20:44] RavilM commented on #79
Hello!
@navneet-g Have you any news?

[2019-12-04 23:51] navneet-g commented on #79
@RavilM I did not get time to further debug this.

[2019-12-05 15:03] danmarvia commented on #94
Hi, still no persist extension available? :(

[2019-12-05 15:07] danmarvia commented on #94
Would it be possible to add this implementation to one of the examples here https://github.com/microsoft/redux-dynamic-modules/tree/master/packages?

[2019-12-07 10:50] dbartholomae commented on #94
This is how it worked for us:
[code]

This way each module can decide on its own what to persist, but localStorage will be a bit cluttered

[2019-12-09 10:39] cveksitron opened #117 "Support for NextJs"
Hi there,

Can I use this awesome package with NextJs and if i do can you share some exam?

Thanks! :)

[2019-12-10 14:57] jeevasusej commented on #111
Did you solve this issue?

[2019-12-10 20:05] dbartholomae commented on #111
We are still using an extension. I'm currently thinking about setting up a redux-first-history extension.

[2019-12-11 05:27] jeevasusej opened #118 "How to use connected-react-router with redux-dynamic-module"
I have created typescript based website with react.
I am using react router dom.
I want to use [connected react router](https://github.com/supasate/connected-react-router).

I don't know where to add

I am using the following configuration while create store.

I have used the **routerMiddleware(history)** with the enhancer. But that shows error with the typings.

In my actual structure,
I have aut

[2019-12-11 09:24] sinack commented on #114
I pushed a simple demo using `redux-dynamic-modules` with `react-router-dom` and `connected-react-router`.

Please use this as a reference.
[demo](https://github.com/sinack/redux-dynamic-modules-sample)

[2019-12-11 09:31] sinack commented on #118
I commented with sample on #114 , so please refer to it.

[2019-12-11 15:22] assainov commented on #118
It might seem intimidating at first, but once you grasp the concept of _modules_, it becomes very easy.

Whenever you want to integrate any reducers or middleware, you use a _module_ for that. You can create a module called routerModule and add it as an initial module when creating a store. Initial modules can be added as an additional argument to the store.

Here is the basic setup:
[code]

And t

[2019-12-11 15:56] jeevasusej commented on #118
Thank you for the response.
Do I need to add this routerModule to every module to be used in subsequent modules?
For example I am using AuthModule for the initial parent containers which is used in the parent routings (Private/Protected).
[Typescript - example](https://redux-dynamic-modules.js.org/#/reference/Typescript)

[code]

[code]

[code]

[2019-12-11 16:14] jeevasusej commented on #118
Good example. Thank you.

[2019-12-11 17:29] navneet-g commented on #114
Thanks @sinack   ...  Pretty cool  👍

[2019-12-11 17:36] assainov commented on #118
@jeevasusej, If you add it as an initial module, there is no need to add it again for subsequent modules.

[2019-12-11 17:54] jeevasusej commented on #118
Thank you @assainov
For strongly typed props, I have inherited the interface type from the root state.
Will it be a right approach?
[code]

[2019-12-11 18:41] assainov commented on #118
@jeevasusej ,

It's getting a bit off topic, but - yes, you can definitely extend it. The alternative approach would be to use a type alias:
[code]

[2019-12-12 10:48] #118 closed

[2019-12-16 20:11] leonardofalk commented on #94
Just use `advancedCombineReducers`:

[code]

then:

[code]

As mentioned by @MegazeroMZ, you need that initial mandatory reducer to fake PersistGate default behaviour, otherwise you'll se an infinite loading screen. As for creating an extension for it, dynamic-modules should expose an API for the store, because right after inserting and extension we must call persistStore and save the persistor so

[2019-12-18 23:48] ndstephens opened #119 "Is `getReducerManager` exposed anywhere"
Looking through the source code I saw the function `getReducerManager` and it seems like it could be useful in saga testing when I need to pull together all the reducers I added to the store, and add on any dynamically-added reducers I may need for that test.  Can I can't seem to access it.

I realize I could use `combineReducers` from `redux` (which is what I have done previously), but was lookin

[2019-12-19 09:57] #114 closed

[2019-12-23 10:32] sinack opened #120 "How to wait completion of initialactions when I use a module dependencies?"
I have 2 modules.
There are `authModule` and `userPageModuel`.

`authModule` is get user login status by initialactions.
`userPageModuel` is  used to display the user page using the fetched login status by `authModule`.

Therefore, I want these modules to be loaded in the correct order.
But looks like `userPageModuel` will be loaded without waiting for initialaction of `authModule` to complete to

[2019-12-31 02:50] lanyusan commented on #31
@navneet-g

Can you expose `tasks` in SagaManager.ts as @Stoope did? I found I need this too but don't want to use a fork.

Thanks.

[2019-12-31 22:33] jrsquared opened #123 "Still perform finalActions even if retained: true"
I still want to perform `finalActions` even if `retained: true`. Is there a way to achieve this?

[2020-01-03 08:40] jacksontong opened #124 "Typescript action in Saga watcher"
I'm using ActionHelper.ts from the typescript example to create my action and I don't know how to typing the action in my saga watcher
[code]

[2020-01-06 04:19] jacksontong commented on #124
I'm able to solve this by ReturnType
[code]

[2020-01-06 04:19] #124 closed

[2020-01-07 10:28] SantoJambit opened #125 "Lazy Loading Support"
I am currently working on a presentation about react modularization and it contains both redux-dynamic-modules and React.lazy (for code-splitting). While doing this, I was wondering why modules are not lazy loaded, but I couldn't find any existing solutions.

So I started a proof-of-concept:

[code]

It seems to work in my sample to-do app and I was wondering if anyone tried this before and if thi

[2020-01-10 20:33] navneet-g opened #127 "Investigate impact of changes to redux-dynamic-middleware"
https://github.com/pofigizm/redux-dynamic-middlewares/pull/8

[2020-01-27 14:29] sanchitbansal10 opened #128 "redux sub-store is attached after the mapStateToProps fires"
@abettadapur
https://github.com/microsoft/redux-dynamic-modules/tree/master/packages/counter-example

In the readme its mentioned that the redux sub-store is not available to the children component (at getStateToProps).

Same is happening for me...Is it how its supposed to behave or i am doing something wrong in my code

Thanks..

[2020-01-27 14:39] sanchitbansal10 commented on #128
Ran this locally....the mapStateToProps is getting the initial store data indeed...

Have u faced this problem and did something to fix this
this ill help me a lot....

[2020-01-29 07:42] ShubhamJoshi-1994 commented on #94
@dbartholomae does this means that we export a store from each of the modules? Is there any example implementation using the functional components?

[2020-01-29 08:31] dbartholomae commented on #94
No - the first part is in each module, the second part only in the central store creation. Unfortunately I don't have a public example at the moment.

[2020-01-29 08:53] ShubhamJoshi-1994 commented on #94
Ok no worries, I tried it as you have said and it is working. Thanks.

[2020-01-30 01:49] FraserKillip opened #129 "Can't use combineEpics with redux-dynamic-modules-observable"
The code uses `toString()` to check uniqueness on Epics, but when using `combineEpics` the result is always the same which means that if two modules use `combineEpics` only the first module's epic will actually be loaded.

Is there a way to determine epic uniqueness without using `toString()`?

https://github.com/microsoft/redux-dynamic-modules/blob/163377fdd9118a231c22d42d093374cdd615a1f7/package

[2020-01-30 12:52] sanchitbansal10 commented on #128
Creating a proper new issue on lines of this

[2020-01-30 12:52] #128 closed

[2020-01-30 17:22] sanchitbansal10 opened #131 "undefined state on first render after dynamicially loading module in react-redux v6"
This is an old issue and a fix was done for this.
https://github.com/microsoft/redux-dynamic-modules/pull/59

I faced this while working with react-redux v6

Steps to reproduce...Run the Counter example in packages with react-redux v6..On first render you get an undefined state.

[2020-02-06 14:00] jeevasusej opened #133 "DynamicModuleLoader resetting the attached store values"
After load a component using DynamicModuleLoader, when I moving to another page and come back to the same page, the values are reset.
It's not retaining the old attached values with the store.

[code]

[2020-02-14 15:31] ljosberinn commented on #133
Working as intended:

[2020-02-21 22:02] Lusito opened #135 "Provide Readmes NPM"
The npm pages all say something like "Unable to find a readme for redux-dynamic-modules@5.2.0", which looks a bit concerning when browsing potential packages:
https://www.npmjs.com/package/redux-dynamic-modules

I think there should at least be a minimal readme per package included, which gives a short overview and points to the github page and/or homepage for more details.

I really think this pr

[2020-03-02 13:40] RavilM commented on #79
@abettadapur @navneet-g
Hi guys! Have you got any news about this issue or code review of my solution?

[2020-03-02 17:16] hwzhang92 opened #137 "Saga is not removed"
when use redux-dynamic-modules-saga, it dont remove saga when use DynamicModuleLoader or remove handle returned by store.addModules. When it add module again, the saga will also be twice.

[2020-03-03 06:32] bloomdido commented on #113
I am encountering the same problem. I am trying to use [connected-react-router](https://github.com/supasate/connected-react-router) and getting the following error:

Type '{ router: Reducer<RouterState<History.PoorMansUnknown>, LocationChangeAction<History.PoorMansUnknown>>; }' is not assignable to type 'ReducersMapObject<AppModuleState, AnyAction>'.
  Types of property 'router' are incompatible.

[2020-03-03 10:19] kazamov commented on #113
Hi @bloomdido.

I have found a workaround for this issue. If cast the type of "reducerMap" property to ReducersMapObject<YOUR_REDUCER_MAP_TYPE>, everything is fine. E.g.

`
export const RoleModule: ISagaModule<RoleAwareState> = {
	id: 'roleModule',
	reducerMap: {
		roleModule: roleReducer,
	} as **ReducersMapObject<RoleAwareState>**,
	sagas: [rootSaga],
};
`

[2020-03-03 19:42] bloomdido commented on #113
@kazamov Yeah, I think both of our solutions are about getting around Typescript's strict contravariance for callbacks.

From what I understand, the issue is that any action can always be an `AnyAction`, but an `AnyAction` cannot always be any action.

[2020-03-11 15:24] mmissey commented on #129
We have a factory that creates epics for metering/debouncing calls. We got around this issue by adding a `name` property to each epic and then ```epicKey = `${epic.name} ${epic.toString} ```

[2020-03-16 15:58] ljosberinn opened #138 "React 16.13 incompatibility"
Due to [the recent React 16.13 update](https://reactjs.org/blog/2020/02/26/react-v16.13.0.html#warnings-for-some-updates-during-render), the default behaviour of DynamicModules leads to a warning.

[code]

It's probably easily resolved by removing the default behaviour and just keeping the StrictMode combat mode, essentially removing the `strictMode` prop too. At least within StrictMode and lettin

[2020-03-24 21:33] abettadapur commented on #137
Are you using `<StrictMode>` any where in your React application?

[2020-03-24 21:56] #135 closed

[2020-03-24 21:57] abettadapur commented on #135
Thanks for the suggestion!

[2020-04-05 09:05] footyapps27 commented on #131
@sanchitbansal10 I am facing the same issue.
Were you able to find a fix for this?

[2020-04-05 09:12] footyapps27 commented on #131
@abettadapur @navneet-g Any idea how to fix this?

[2020-04-06 03:27] sanchitbansal10 commented on #131
@footyapps27 hey I had to upgrade my react-redux package.. I can try and raise a PR but no maintainer seems to be around

[2020-04-06 04:18] footyapps27 commented on #131
@sanchitbansal10 Which version of react-redux solved the issue for you?

[2020-04-06 04:22] sanchitbansal10 commented on #131
v7

[2020-04-06 06:46] footyapps27 commented on #131
That's weird. I am using v7 as well, but still getting `undefined` on the first load. :/

[2020-04-06 06:50] sanchitbansal10 commented on #131
@footyapps27 You can try running this sample app
https://github.com/microsoft/redux-dynamic-modules/tree/master/packages/counter-example

with v6 and v7...It doesn't return undefined for v7
Maybe something else is wrong

[2020-04-10 11:26] dmitry-prohorov commented on #137
@abettadapur I've faced the same issue.

Saga with `spawn` does it.
[code]
also example from [saga documentations](https://redux-saga.js.org/docs/advanced/RootSaga.html)
[code]

Any ideas on how to solve it? I don't think there is any.

[2020-04-10 16:17] abettadapur commented on #137
`spawn` creates a saga at the root level, so it is not something we can cancel

If you use spawn, make sure to save a reference to the task so you can manually cancel it

[2020-04-14 05:47] FraserKillip commented on #79
I am having this exact same issue. My problem is as follows.

2 pages:
`Page A` on route `admin/a` requires `[module1]`
`Page B` on route `admin/b` requires `[module1, module2]`

Go to `Page A` then click a button which dispatches `push` and navigates the user to `Page B`. Upon navigation to `Page B`, the page renders fine but DML does not load the required modules.

**Expected result:**
`module1`

[2020-04-17 17:22] dkreft commented on #88
For what it's worth, this is how I implemented my own HoF:

[code]

Which  I then use thusly:

[code]

[2020-04-17 17:47] dkreft opened #140 "Module dependencies result in duplicated data in store"
I have a module that depends upon several other modules that are scoped to the primary module, but when I load the page, I'm seeing the dependant modules as both peers of my primary module *and* as children of it.

**Primary module**

[code]

As an example of a child module:

[code]

Now, when I load the page, my store looks like this:

<img width="452" alt="Screen Shot 2020-04-17 at 10 36 25 AM"

[2020-04-17 18:07] dkreft commented on #140
Okay, I think I understand this now.

The store partitions that I've highlighted in red in the screenshot, above, are due to this:

[code]

While the (properly) nested parts are due to this in my reducer:

[code]
So it looks like what I need to do for my purposes is just remove the `getFooModule()` parts from the config, and roll-up all my subordinate sagas in my `./sagas.js` and reduce my configu

[2020-04-17 19:49] #140 closed

[2020-04-24 03:57] kg-currenxie commented on #102
did you fix it? i'm getting **Could not find "store" in the context** as well.

[2020-04-28 14:03] Bessonov opened #142 "license is missing in package.json"
We use automatic checks of licenses through pnpmfile.js. It would be nice to have license in the appropriate package.json field.

Thanks!

[2020-04-28 14:07] Bessonov commented on #142
Looked at wrong package.json

[2020-04-28 14:07] #142 closed

[2020-05-10 06:41] shinvey commented on #129
Maybe it's not a good pattern to use combineEpics. My practice for many epics in a file, I'll try this way:

[code]
[code]
It's recommend to import epics as needed.

[2020-05-25 15:38] Stwosch opened #143 "Place in the store where dynamic module should be added"
Hello,

I'm struggling with adding dynamic modules to the store in a certain place.

In my case, I'm adding modules where each module has specific GUID that is its id.
Here is the structure of my dynamic module.
`
const modules = [{ id, reducerMap: { [id]: combineReducers(reducers) } }]
`
In this case everything works fine, modules are attached to the store.

But I wouldn't like to place every dyn

[2020-05-27 14:58] fostyfost commented on #47
Hey. Take a look at my example of using NEXT with dynamic modules. https://github.com/fostyfost/next-with-redux-dynamic-modules

[2020-05-27 14:58] fostyfost commented on #117
Hey. Take a look at my example of using NEXT with dynamic modules. https://github.com/fostyfost/next-with-redux-dynamic-modules

[2020-05-28 08:58] skmasq opened #144 "React redux dependency resolve issue with parcel"
I'm using parcel for building my application and I had this issue https://github.com/reduxjs/react-redux/issues/1489, in short, the application has react-redux/lib and react-redux/es running at the same time, and my ReactReduxContext was returning null value, because I was accessing the wrong import.

Issue was solved in my application by adding following alias to my module-resolver forcing all im

[2020-06-24 05:47] LFFATE opened #145 "redux-dynamic-modules-observable: Support for Injecting Dependencies"
Almost done with migration to redux-dynamic-modules, but I can't make my epics working.
I use Dependencies Injection because of unit testing:

https://redux-observable.js.org/docs/recipes/InjectingDependenciesIntoEpics.html

[code]

and, for example, I try to create initial store:

[code]

And I see that epics are called, but at the moment it calls for dependency - it crushes because of undefined

[2020-06-24 06:08] LFFATE commented on #145
Looks like I should move middleware from store to module:
[code]

But problem with dependencies still actual and appears a new problem:
[code]
But there is just one store at the moment

[2020-06-24 07:37] LFFATE commented on #145
So, I think I found the problem. And I think I can create a PR, just check my explorations:

[code]

inside https://github.com/microsoft/redux-dynamic-modules/blob/master/packages/redux-dynamic-modules-observable/src/index.ts:

[code]

where Options is:
[code]

this type directly from redux-observable, but the library doesn't export it

[2020-07-21 04:10] Bautista-Baiocchi-lora opened #148 "Debugging redux state with RN Debugger stalls app"
Versions:
[code]

Implementing redux-dynamic-modules has broken remote debugging with React Native Debugger. The app completely stalls when debugging. Buttons don't fire, state changes aren't dispatched, no re-renders... As if the whole app is jammed. It runs fine if not debugging.

[2020-07-22 17:05] alexdroste commented on #78
This is really easy. Like @navneet-g suggested:

[code]

and

[code]

[2020-08-10 09:07] khanhnam99 opened #149 "how run multi saga in multi modules"
file index.js

![image](https://user-images.githubusercontent.com/575720/89766914-1de35f00-db23-11ea-87b8-16e7edfaaa04.png)

file foo.js

![image](https://user-images.githubusercontent.com/575720/89766975-38b5d380-db23-11ea-92e1-322cf3a9e688.png)

file bar.js

![image](https://user-images.githubusercontent.com/575720/89767014-4ec39400-db23-11ea-8210-8096820ee227.png)

file module.js

![image](http

[2020-08-11 18:16] forgo commented on #113
@bloomdido , This seems to be the same issue I am now encountering with putting a `ThunkAction` in the `initialActions` part of the module. Any suggestions on resolving this? I have not been able to find a way to eliminate this problem.

[code]

[code]

**Error Produced**
`TS2741: Property 'type' is missing in type 'ThunkAction<any, any, any, AnyAction>' but required in type 'AnyAction'.`

[2020-08-11 18:38] kazamov commented on #113
Hi, I described the workaround above, you should cast 'reducerMap' to proper type

[2020-08-11 19:24] forgo commented on #113
Hi @kazamov , this is an issue with `initialActions` not the `reducerMap`. I had already tried your example above casting to as `ReducersMapObject<any>` and `ReducersMapObject<any, any>` and still have this error before posting here.

[2020-08-18 14:21] Akiyamka commented on #149
In `module.js` you import rootSaga by name, but export as default.
Delete `default` word in `index.js`

[2020-08-19 03:07] khanhnam99 commented on #149
thanks, worked for me

[2020-08-27 09:11] Akiyamka opened #150 "Provide a proper ESM build"
Modern build tools like snowpack, vite, rollup cat't bundle this package.
More details: https://github.com/vitejs/vite/issues/720

[2020-09-09 22:08] lucastschmidt opened #151 "Redux Observable module needs documentation warning"
Guys ... we need to let users know that it is used the *toString* method in the Epic function as key in order to determine if an epic will be added or not.

If you use an epic generator function, dynamic modules wont add all the epics, only a single one of them, since their toString methods return the same value.

I dont think any internal changes should be done, just a warning in the docs would b

[2020-09-10 16:15] intelcoder commented on #51
I thought redux-dynamic-modules not supporting hot reloading yet

[2020-09-15 20:26] osym opened #153 "Pass sagaMoniror as a parameter to getSagaExtension"
As I can see from here https://github.com/microsoft/redux-dynamic-modules/blob/c1439e67de12488a142df9c07cbc394e87e329cf/packages/redux-dynamic-modules-saga/src/SagaExtension.ts#L24 it's impossible to pass a custom `sagaMonitor` to `getSagaExtension`.

Would it be possible to fix this?

[2020-09-16 05:52] kritika-agrawal-dunzo commented on #117
@fostyfost can you please explain what are you doing there?
As I checked in your code, you are not using `createStore` exported from `redux-dynamic-modules`.

[2020-09-16 15:58] fostyfost commented on #117
Hello, @kritika-agrawal-dunzo

Quite right, I don't use `createStore` by default. I have implemented my own based on `createStore` from` redux-dynamic-modules`. All this is needed in order for the rest of the `redux-dynamic-modules` library to work properly in server-rendered conditions (Next.js SSR).

[2020-09-17 20:35] MmtBkn opened #154 "Support for keeping state mounted"
Hello,

We have a case where we'd like to keep state after It's initialization for caching purposes.

Current Behaviour;
DynamicModuleLoader loads the state when mounted, and removes it when unmounted

Ask;
DynamicModuleLoader loads the state when mounted, and won't remove the state when unmounted based off a flag, so the existing state could be reused without initialization.

Thank you.

[2020-09-18 16:45] fostyfost commented on #154
@MmtBkn hello. Try 'retained: true' for your module.

[2020-09-20 22:41] #154 closed

[2020-09-22 14:32] kritika-agrawal-dunzo commented on #117
@fostyfost Thanks for the response :)

[2020-09-22 15:04] fostyfost commented on #117
@kritika-agrawal-dunzo
Unfortunately, I don't remember all the problems I faced when I tried to use the next-redux-wrapper. You can try using this library. It definitely does not suit me, for example, because the store was created twice on the server.

[2020-09-28 10:11] noelzubin commented on #88
Has there been any updates on this ?. Would really like this to be included with the library

[2020-09-30 20:24] dzintars opened #156 "What is general status of this library?"
Hi all. Curious about the general status of this library. It has not seen any updates for a while, so I am not sure is it abandoned or it is just pretty much done. Is it safe to dive into it?
Tnx.

[2020-10-03 22:01] dzintars opened #158 "Is it possible to shave off React+ dependencies?"
Trying to use this library with vanilla web components, Lit Element and custom connector, but my Bazel build fails because i don't want to include React & friends.
Would be thankful if somebody would help me to shave off those dependencies.
And mby it's overall good idea to make those deps optional?

[2020-10-03 22:06] dzintars commented on #158
Sorry, my fault. Used wrong import. `redux-dynamic-modules` instead of `redux-dynamic-modules-core` :)

[2020-10-03 22:06] #158 closed

[2020-10-04 14:48] dzintars opened #159 "Could it be possible to provide simple Lit Element (Web Components) example"
Currently all examples has react and react-redux dependencies.
But there is growing community of the native web components which does not rely on the react ecosystem at all.
Redux really well play with native web components as it is framework agnostic.
Because of DX ergonomics, Polymer teams Lit-Element library is often used in enterprise solutions to build full applications and design systems on

[2020-10-13 10:15] PhilippMelnikov opened #160 "support for nested reducers"
Hello!
Does the library provide support for loading nested reducers? Suppose i have a store structure like this
{
  auth,
  me: {
    counters,
    orders
  }
}

I want to load reducers for orders later. How do I do that?

[2020-10-13 10:46] dzintars commented on #160
Mby this - https://redux-dynamic-modules.js.org/#/reference/Dependencies ?

[2020-10-13 11:02] PhilippMelnikov commented on #160
If we take example from docs you're suggesting, what would the final structure of the store look like?

[2020-10-14 11:07] LFFATE commented on #156
It's definitely abandoned

[2020-10-14 12:07] dzintars commented on #156
Then probably it would be marked as archived... ¯\_(ツ)_/¯

[2020-10-18 14:16] Ulibka68 opened #161 "Typing initialActions function"
I wrote a small tutorial project (project is working)
https://github.com/Ulibka68/otus_react_dz/tree/Les23/7-try-to-type

Inside project I'm write getModule function exactly as widget example:
[link](https://github.com/microsoft/redux-dynamic-modules/blob/master/packages/widgets-example/src/widgets/hacker-news/redux/hacker-news-module.js)

I'm type my function using this type:
[code]
But return ty

[2020-10-23 07:40] sanchitbansal10 commented on #143
I have the same requirement, @Stwosch did u find any solution for this ?

[2020-10-23 16:27] dzintars opened #162 "[Examples] There is no 'enhancements' property"
https://github.com/microsoft/redux-dynamic-modules/blob/c1439e67de12488a142df9c07cbc394e87e329cf/packages/widgets-example/src/App.js#L31
Probably should be `enhancers`
https://github.com/microsoft/redux-dynamic-modules/blob/c1439e67de12488a142df9c07cbc394e87e329cf/packages/redux-dynamic-modules-core/src/ModuleStore.ts#L19

[2020-10-23 16:29] dzintars opened #163 "[Examples] Unused argument 'getState'"
https://github.com/microsoft/redux-dynamic-modules/blob/c1439e67de12488a142df9c07cbc394e87e329cf/packages/widgets-example/src/widgets/hacker-news/redux/hacker-news-actions.js#L16

[2020-11-25 00:33] antokara commented on #160
[code]

@PhilippMelnikov  give it a try and let me know.
I think this should be added to the documentation because it is a very common use case.

[2021-01-11 12:18] madrussa opened #167 "State and reducers are not unmounted when dynamic component unmounts"
When mounting a module using the `DynamicModuleLoader` and then later unmounting it, the state and reducers remain.

This can be verified by removing a DynamicModuleLoader and inspecting Redux using redux dev tools. The state applied when the module was loaded remains after the component is removed.

I have a solution but this took a while to work out what was going on, storing here for those who

[2021-03-02 14:37] ignascepelis commented on #87
is this issue solved?

[2021-03-17 08:48] olabala commented on #94
any update?
I also encountered the same problem. After dynamically registering the module, I can no longer write to the local cache.

[2021-03-19 04:00] olabala commented on #94
found a solution
[code]
and register a redux-saga watcher: call persist when 'moduleAdd' and 'moduleRemove' action called
[code]

[2021-04-18 13:15] per0w opened #169 "PENDING action is gone from sagas"
Hello. Please help. I faced with problem when i move my project to module with redux-dynamic-modules and redux-dynamic-modules-saga. Actions from sagas starts to work differently. Now actions not including PENDING prefix. Maybe someone came across this?

redux-promise-middleware - stopped working yet I don't know why

![image](https://user-images.githubusercontent.com/20511462/115146872-864aee80-a

[2021-04-19 07:18] fostyfost commented on #169
Please provide a codesandbox demo

[2021-04-20 07:57] per0w commented on #169
https://github.com/microsoft/redux-dynamic-modules/pull/172

[2021-04-20 23:53] fostyfost commented on #169
It's not a demo 🙃

[2021-04-23 08:44] olabala opened #173 "remain module when component unmount"
how can i remain module when component unmount

i found a prop 'keepModulesOnUnmount'， but for some reasons it gones ?

could it be possible for me to keep modules on ?

[2021-04-25 07:14] per0w commented on #169
Fix problem it's the best demo. ;) In fact, it was just that external middleware such as redux-promise and etc. were not included in the extension for sagas.

[2021-04-25 21:12] fostyfost commented on #169
You can pass middlewares for modules, isn't it enough?

[2021-04-25 21:15] fostyfost commented on #173
Try 'retained: true' for your module

[2021-04-28 10:31] per0w commented on #169
nope, b/c inside to saga extension they are not passed

[2021-05-05 15:13] gi4no commented on #151
+ 1

[2021-05-12 09:39] olabala commented on #173
never noticed this 🤦‍♂️

it works well, thank u

[2021-05-12 09:39] #173 closed

[2021-05-17 11:52] jeevasusej opened #177 "State lost, when moving from one module to another module"
I am using DynamicModuleLoader.
When I move one component/module to another component/module (one route to another route), I lost state from the redux store which already loaded.
This makes me not to use the feature of redux (where we have one store shared through out the application).
What should I do to maintain redux state once loaded?

We can see that, whenever route change the state has been

[2021-05-21 04:26] jeevasusej commented on #177
Sorry, the mistake is mine.
Dynamic Module Loader concept is "When component is unmounted, the module will be removed from the store and the state will be cleaned up".
So the logic is working as expected.
I have used moduleStore.addModule(createModuleA()); instead of dynamic module loader.
The concept is working as expected.

[2021-05-21 04:26] #177 closed

[2021-05-24 10:17] hellokunji commented on #47
@fostyfost : This is a great example, Thanks for that.
There is problem though, your example seems to be working fine with next's `getInitialProps` but it doesn't work when we use `getServerSideProps` and `getStaticProps`

when i converted your users.tsx code

from

[code]

to

[code]

it shows blank page now only

[2021-05-24 10:26] fostyfost commented on #47
@hellokunji hi! Thank you for your feedback! Currently my example doesn't support modern Next.js GS(S)P-feature but I'm working on it. Also I want to distribute this feature as a standalone library.

[2021-05-24 10:32] hellokunji commented on #47
@fostyfost  No problem!, I will be following and waiting for the library updates. 👍

[2021-05-24 17:57] djsilcock commented on #47
The object returned from `getServerSideProps` is different to the `getInitialProps`
Try:

[code]

[2021-05-24 18:02] hellokunji commented on #47
Thanks for the reply, it still doesn't work.

[2021-05-27 08:41] jeevasusej opened #178 "Remove module by id"
I want to remove module by id.
How can I achieve that?

[2021-05-28 09:18] fostyfost commented on #178
Hi, @jeevasusej!

You can't manually remove modules. Modules are removed automatically when components are unmounted.

[2021-06-11 09:33] owen26 commented on #156
I've only recently started to dive into this library. It's unfortunate to see it hasn't been updated for quite a long time. I think both the design and use cases for this library is extremely good for splitting lazy-loaded react "modules", which I couldn't find any equivalent on the internet.

But I'm also a bit hesitant to introduce this library into my current project due to the fact this is a p

[2021-06-16 12:24] bug-brain opened #179 "modules are removed before useEffect cleanups are executed"
[Here](https://github.com/microsoft/redux-dynamic-modules/blob/master/packages/redux-dynamic-modules-react/src/DynamicModuleLoader.tsx#L180) the lifecycle method `componentWillUnmount`is executed before the preceding siblings' `useEffect` cleanups.

[2021-07-21 05:05] #169 closed

[2021-07-30 05:17] luox12 commented on #167
thanks @madrussa for your resolution.

[2021-08-04 12:26] varndellDrugDev opened #181 "Update with React 16.x or 17.x"
When will this get updated?

[2021-09-08 16:43] olabala opened #184 "takexxx saga(saga watched action) in different modules that have been loaded doesn't work in dynamic modules"
try this demo
https://codesandbox.io/s/dynamic-module-e5tf0?file=/src/modules/reducer.js

The use of put should be able to trigger to root add, but in reality it does not, need to use call to make the function work
[code]

[2021-10-07 17:25] simarmol opened #187 "Build pipeline failing for main"
Pipeline has been failing for some time it seems.

Looks like it's a TS error.

[2021-11-05 23:43] jkthinksmart opened #189 "Library abandoned?"
Library abandoned?

[2021-11-24 09:39] Pabliomen commented on #167
Thanks @madrussa this really helped me! works like a charm

[2021-12-06 14:00] fostyfost commented on #189
@jkthinksmart hi!
Perhaps the authors no longer support this library.
You can try my library https://github.com/fostyfost/redux-eggs

[2021-12-06 14:07] fostyfost commented on #47
@hellokunji hi!
Please, try this library is your issue is still actual.
https://github.com/fostyfost/redux-eggs

[2021-12-06 14:43] dzintars commented on #156
Hi @fostyfost.
Thank you for pinging me.
To be honest right away, i would not use your library just because lack of your reputation. At least i don't see it. It probably sounds rude, but this is how i personally look at the libraries to include in the projects.
I really wish you luck with your project and really hope it will take off, because `redux-dynamic-modules` is really great but unfortunate

[2021-12-06 14:49] fostyfost commented on #156
@dzintars I totally agree with your opinion to choose only reliable libraries. I do the same. Thank you for your wishes =)

[2022-01-12 06:52] olabala commented on #184
after reading the source code, I think I've got the answer.
we don't need to use sagaMiddleWare ourselves, just pass sagas to the module via createStore

[2022-01-12 06:52] #184 closed

[2022-02-15 15:46] juan-salazar-jobnimbus commented on #94
Here is another solution, based on the responses given by @olabala and @leonardofalk:

1. Go where you are creating the dynamic store root configuration:

[code]

2. Go to your root component where you are using `<Provider>` (generally `App`), and use the persistor variable created previously:

[code]

3. **In the module you want to lazy load**, add the following inside the dynamic module configur

[2022-04-12 02:55] ChromeQ opened #193 "TypeScript React: incorrect children props"
#192 fixes TS errors since DefinitelyTyped updated react types to v18.

[2022-04-21 12:16] henrywarhurst commented on #189
Does anybody have any other suggestions as alternatives to this library? Thanks for your suggestion @fostyfost

[2022-05-04 08:14] Pabliomen commented on #193
@ChromeQ is there a way we can use your fork as a temporary solution?

I've tried adding it to my packages with `yarn add ChromeQ/redux-dynamic-modules` but it looks like it can't find it.

[2022-06-07 14:51] nkalinov commented on #160
I just added support for this via lodash.set paths in this PR: https://github.com/microsoft/redux-dynamic-modules/pull/195
Looking at this repo's activity I do not expect it to be merged (soon) so if you want you can use it immediately with npm gh link: `"redux-dynamic-modules": "https://github.com/nkalinov/redux-dynamic-modules.git"`
That's what I'm going to do at least.

[2022-08-17 14:52] microsoft-github-policy-service[bot] opened #197 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-11-06 14:55] ivp-dev commented on #94
Hi

If someone needs this feature I have created a [repo](https://github.com/ivp-dev/redux-dynamic-modules-persist) to make your dynamic modules persistable.

[2022-11-28 19:11] #197 closed